.ant-layout-sider.sider-rank {
  align-self: flex-start;
  position: relative;
  z-index: 1;
  background-color: var(--background-content-color);
  padding: 0px 0px;
  transition: all 0s;

  &.fixed {
    .sider-rank-wrapper {
      position: fixed;
      top: var(--header-height);
    }
  }

  .el-radio-group.rank {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, minmax(10%, auto));
    gap: 20px;
  }

  .rank-side-header {
    background-color: var(--background-content-color1);
    padding: 10px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;

    .rank-side-title {
      font-size: 2rem;
    }

    .tabs-rank {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, minmax(10%, auto));
      gap: 2px;

      li span {
        position: relative;
        text-align: center;
        display: block;
        padding: 7px 0px;
        width: 100%;
        font-size: 1.4rem;
        transition: all 0.15s;
        border-radius: 25px;

        &:hover {
          /* background-color: var(--app-background-color); */
          background-color: #242424;
        }
      }

      li {
        width: 100%;
        cursor: pointer;
        border-radius: 25px;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;

        &.active {
          /* background-color: var(--app-background-color); */
          background-color: #242424;
          box-shadow: var(--box-shadow-small);

          span {
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-image: linear-gradient(
              to right,
              var(--app-background-color7),
              var(--app-background-color3)
            );

            /* &::before {
              content: '';
              position: absolute;
              border-top: 10px solid #009fd0;
              border-right: 10px solid transparent;
              border-left: 10px solid transparent;

              // border-top-left-radius: 0px;
              // border-bottom-left-radius: 0px;
              // border-top-right-radius: 0px;
              // border-bottom-right-radius: 30px;

              // box-shadow: 10px 0px 0px 0px #00607e;
              width: 15px;
              height: 10px;
              // bottom: 0px;
              // left: -15px;
              bottom: -7px;
              left: 50%;
              z-index: 0;
              transform: translate(-50%);
            } */

            /* &::after {
              content: '';
              position: absolute;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 0px;
              transform: rotate(180deg);

              box-shadow: 10px 0px 0px 0px #00607e;
              width: 15px;
              height: 10px;
              bottom: 0px;
              right: -15px;
              // left: 50%;
              // transform: translate(-50%);
            } */
          }
        }
      }
    }
  }

  .rank-side-content {
    max-height: 1250px;
    overflow-y: scroll;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--border-regular-light);
    border-top: none;

    &.el-loading-parent--relative {
      z-index: 1;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .ant-layout-sider.sider-rank {
    flex: 0 1 400px !important;
    width: 400px !important;
    max-width: 400px !important;
    min-width: 400px !important;

    .rank-side-header {
      .tabs-rank {
        li span {
          font-size: 1.3rem;
        }
      }
    }

    .el-scrollbar__wrap.el-scrollbar__wrap--hidden-default {
      height: 110vh !important;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .ant-layout-sider.sider-rank {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 50px;

    .rank-side-header {
      .tabs-rank {
        li span {
          font-size: 1.5rem;
          padding: 10px 0px;
        }
      }
    }
  }
}
