.body-content:has(.home-page) {
  .carousel-swiper {
    overflow: visible;
  }

  &.expand {
    /* margin-top: 0px; */

    .home-page {
      .home-content {
        /* padding: 0px var(--padding-home-expand); */
        --padding-home: var(--padding-home-expand);

        /* .home-section {
        } */
      }
    }
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-page {
  .home-billBoard {
    position: relative;

    .box-vip {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      right: var(--padding-home);
      z-index: 1;
      animation: opacity-in 0.3s ease-in;
    }
  }

  .home-content {
    position: relative;
    z-index: 1;
    clip-path: inset(-100vh 0 -100vh 0);
    overflow: hidden;
    padding-bottom: 50px;
  }

  .home-section {
    position: relative;
    padding: 0px var(--padding-home);

    &:hover {
      .title-default,
      .gradient-title-default {
        .view-all {
          right: 0;
          transition: all 0.5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.trailer {
      padding: 0px;

      &:hover {
        .title-default,
        .gradient-title-default {
          .view-all {
            right: 16px;
            transition: all 0.5s;
          }
        }
      }
    }

    &.hidden-bottom {
      padding-bottom: 22px;
      overflow: hidden;
    }

    .title-default,
    .gradient-title-default {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      font-size: 1.4vw;
      margin-top: 25px;
      margin-bottom: 15px;

      &:hover {
        .view-all {
          transition: all 0.4s;
          right: 0;
        }
      }

      .view-all {
        display: flex;
        align-items: center;
        position: absolute;
        gap: 5px;
        right: -100%;
        font-size: 0.6em;
        color: inherit;
        font-style: oblique;
        transition: all 0.3s;
        color: var(--text-color);

        /*  svg {
        } */

        &:active {
          opacity: 0.8;
        }
      }
    }

    &.recommend {
      .movie-group.vertical {
        position: relative;
        /* max-height: 330px; */
        max-height: 20vw;
        overflow: hidden;
        /* transition: all 0.5s; */

        &.expand {
          padding-bottom: 30px;
          max-height: 100%;
          overflow: visible;
        }
      }

      .loadmore-btn {
        position: absolute;
        bottom: 0;
        left: 4px;
        top: 100%;
        transform: translateY(-50%);
        background-color: var(--background-content-color);
        box-shadow:
          12px 0 15px -4px var(--background-content-color),
          -12px 0 8px -4px var(--background-content-color);
        margin: 0px auto;
        /* margin-top: 25px; */
        z-index: 2;

        &:active {
          opacity: 0.8;
        }

        svg {
          margin-right: 3px;
          font-size: 2rem;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .loading-spinner {
    margin-top: 60px;
    margin-bottom: -30px;
  }

  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
      clip-path: none;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .home-page {
    .home-section {
      &.recommend {
        .movie-group.vertical {
          max-height: 330px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .home-page {
    .home-billBoard {
      .box-vip {
        top: 50%;
      }
    }
  }

  .body-content:has(.home-page) {
    .home-page {
      .home-content {
        .home-section {
          .gradient-title-default {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --padding-home: 20px;
  }

  .home-page {
    .home-billBoard {
      .box-vip {
        display: none;
      }
    }
  }

  .body-content:has(.home-page) {
    .home-page {
      .home-content {
        --padding-home: 20px;
        /* padding: 0px 15px; */
        padding-bottom: 30px;
      }
    }

    &.expand {
      .home-page {
        .home-content {
          --padding-home: 20px;
          /* padding: 0px 30px; */
          padding-bottom: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .body-content:has(.home-page),
  .body-content.expand:has(.home-page) {
    .home-page {
      .home-content {
        .home-section {
          .gradient-title-default {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --padding-home: 15px;
  }

  .body-content:has(.home-page),
  .body-content.expand:has(.home-page) {
    .home-page {
      .home-content {
        --padding-home: 15px;
      }
    }
  }
}
