.contact {
  font-size: 1.6rem;

  .center-page {
    // max-width: var(--max-width-center-page);
    max-width: 1024px;
    margin: 0px auto;
    padding-top: 20px;
  }

  .contact-page-title {
    font-weight: 600;
  }

  .contactus-form-section {
    margin-top: 30px;

    .contactus-form-label {
      font-size: 1.7rem;
      margin-bottom: 10px;
      font-weight: 500;
    }

    form.contactus-issue-form {
      .issue-description-field {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 40px;

        .ant-input-affix-wrapper {
          height: 100%;
          background-color: #d8d8d88b;
          border-radius: 0px;

          input {
            font-size: 1.5rem;
            // color: var(--text-color);
          }
        }

        .ant-btn.submit-issue-description {
          height: 100%;
          border-radius: 0px;
          color: var(--text-color);

          &:disabled {
            background-color: #505050;
          }
        }
      }
    }
  }

  .quick-helps {
    margin-top: 40px;

    .quick-helps-title {
      font-size: 1.7rem;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .quick-helps-list {
      list-style-type: none;

      .quick-helps-item {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        border-top: 1px solid var(--border-regular-light);
        transition: all 0.15s;

        svg {
          margin-right: 10px;
        }

        a {
          flex-grow: 1;
          padding: 13px 0px;
          color: var(--text-color-gray1);
        }

        a {
          &:hover {
            text-decoration: underline;
            color: var(--text-color-invert);
          }

          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
