.verify-signup {
  display: flex;
  max-width: 100%;

  &.active {
    margin: auto auto;
  }

  .verify-signup-container {
    position: relative;
    margin: auto auto;
    min-height: 400px;
    max-height: 95vh;
    width: 550px;
    border-radius: 2px;
    z-index: 1;
    background-color: var(--background-content-color);
    box-shadow: var(--box-shadow-large);
    overflow: hidden;

    .back-btn {
      position: absolute;
      display: flex;
      align-items: center;
      top: 8px;
      left: 10px;
      padding: 0px;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 7px;
      }
    }

    .verify-form {
      padding: 30px 70px;
      padding-top: 50px;

      .title-verify {
        text-align: center;
        margin-bottom: 20px;
        cursor: default;

        h1 {
          margin-top: 0px;
          font-size: 2.7rem;
        }
      }

      .ant-form-item {
        .ant-col.ant-form-item-control {
          .ant-form-item-control-input-content {
            display: flex;
            flex-direction: row;

            .ant-input {
              height: 40px;
            }

            .ant-input-affix-wrapper {
              background: transparent;

              input,
              .ant-input-prefix {
                color: inherit;
              }

              &:hover {
                background: transparent;
              }
            }

            .ant-input-affix-wrapper-focused {
              background: transparent;
            }

            .ant-input-number-affix-wrapper {
              width: 100%;
            }
          }
        }

        &.resend {
          .count-down-btn {
            margin: 0px auto;
            /* min-width: 100px; */
            background-color: transparent;

            // &[disabled] {
            //   color: #b3b3b3;
            // }
          }
        }

        &.pin-otp {
          .ant-col.ant-form-item-control {
            .ant-form-item-control-input-content {
              /* .ant-input-number {
                border-color: transparent;
                box-shadow: none;
                border-radius: 2px;
                border-bottom-color: #fff;
                background-color: #202020;
                font-size: 4rem;

                input {
                  text-align: center;
                  height: 50px;
                }

                &.ant-input-number-focused {
                  .ant-input-number-input-wrap {
                    outline: 1px solid var(--app-background-color);
                  }
                }
              } */
            }
          }
        }
      }

      .verify-form-button {
        font-size: 1.5rem;
        /* margin-top: 20px;  */
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }

        &:disabled {
          /* background-color: transparent; */
        }
      }
    }
  }
}
