.body-content.expand {
  .header-home-breadcrumb {
    left: var(--sider-collapsed-width);
    width: calc(100% - var(--sider-collapsed-width));
  }
}

.header-home-breadcrumb {
  position: fixed;
  top: var(--header-height);
  left: var(--sider-width);
  width: calc(100% - var(--sider-width));
  height: var(--header-home-height);
  // padding: 5px 20px;
  padding: 8px 20px;
  z-index: 9;
  transition: background-color 0.2s ease;
  transition-delay: 0.2s;

  &.scrolled {
    background: var(--header-background-scrolled);
  }

  .header-home-breadcrumb-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-shadow: 1px 2px 3px var(--background-content-color);

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .right {
      font-style: italic;

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }

    .breadcrumb-label {
      display: flex;
      position: relative;
      color: var(--text-color-gray);
      font-size: 1.65rem;
      white-space: nowrap;

      a {
        color: inherit;

        &:active {
          opacity: 0.8;
        }
      }

      &::after {
        content: '>';
        padding: 0 12px;
      }
    }

    .breadcrumb-title {
      user-select: none;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 750px) {
  .header-home-breadcrumb {
    .header-home-breadcrumb-wrapper {
      .breadcrumb-title {
        font-size: 2.5rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .header-home-breadcrumb {
    padding: 5px 15px;
  }
}
