footer.footer {
  position: relative;
  // background-color: var(--background-content-color);
  background: linear-gradient(
      10deg,
      rgba(0, 141, 223, 0) 58%,
      var(--app-background-color) 128%
    ),
    var(--background-content-color);
  font-size: 1.4rem;
  // color: inherit;
  color: var(--text-color);
  border-top: 1px solid var(--border-regular-light);
  margin-top: auto;
  padding: 25px 50px;

  .footer-container {
    display: flex;
    flex-direction: column;

    .footer-header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
      padding-bottom: 20px;
      margin-bottom: 25px;
      border-bottom: 1px solid var(--border-regular-light);
      // width: 60%;

      .contactus-section {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .help-title {
          font-size: 2rem;
          font-weight: 500;
        }

        .contact-us-button {
          color: inherit;

          button {
            padding: 10px 20px;
            background: #000406;
            border: none;
            border-radius: 4px;
            font-weight: 500;
            font-size: 1.5rem;
            color: inherit;

            &:hover {
              background: rgba(0, 4, 6, 0.35);
            }
          }
        }
      }

      .helpcenter-logo {
        font-weight: 500;
        font-size: 1.7rem;
        line-height: normal;
        color: var(--text-color) !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-body {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      .footer-section {
        display: flex;
        flex-direction: column;

        .footer-section-title {
          font-weight: 500;
          font-size: 1.7rem;
          margin-bottom: 15px;
        }
      }

      .default {
        .logo {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.7rem;
          }

          img {
            height: 45px;
            width: auto;
            margin-right: 15px;
          }
        }

        .note {
          margin-top: 20px;
          max-width: 750px;
        }
      }

      .support {
        .support-social {
          display: flex;
          flex-direction: column;
          gap: 10px;

          a {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            color: inherit;
            transition: opacity color 0.25s;

            .support-icon {
              display: flex;
              width: 30px;
            }

            svg {
            }
          }
        }
      }
    }

    .copyright {
      // margin-top: 15px;
      width: 100%;
      margin: 0px auto;
      margin-top: 30px;
      padding-top: 25px;
      border-top: 1px solid var(--border-regular-light);
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1500px) {
  footer.footer {
    padding: 25px 30px;
  }
}

@media only screen and (max-width: 1100px) {
  footer.footer {
    padding: 25px 20px;
  }
}

@media only screen and (max-width: 900px) {
  footer.footer {
    padding: 25px 20px;
  }
}
