@media (prefers-color-scheme: dark) {
  footer.footer {
    // background-color: var(--background-content-color);
  }
}

footer.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  // background-color: var(--background-content-color);
  // background: linear-gradient(
  //     10deg,
  //     rgba(0, 141, 223, 0) 58%,
  //     var(--app-background-color) 128%
  //   ),
  //   var(--background-content-color);
  font-size: 1.4rem;
  color: inherit;
  border-top: 1px solid var(--border-regular-light);
  margin-top: auto;
  padding: 25px 50px;

  .footer-container {
    .footer-body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 5px;

      .logo {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.7rem;
        }

        img {
          height: 45px;
          width: auto;
          margin-right: 15px;
        }
      }

      .note {
        margin-top: 20px;
        max-width: 900px;
      }

      .support {
        margin-top: 15px;

        p {
          margin-bottom: 10px;
        }

        .support-social {
          display: flex;
          flex-direction: row;
          gap: 15px;

          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: inherit;
            transition: all 0.25s;

            svg {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .copyright {
      // margin-top: 15px;
      width: 75%;
      margin-top: 30px;
      padding-top: 25px;
      border-top: 1px solid var(--border-regular-light);
    }
  }
}

@media only screen and (max-width: 900px) {
  footer.footer {
    padding: 25px;
  }
}
