.discover-head {
  --discover-head-height: 53px;
  height: var(--discover-head-height);

  &.fixed {
    .discover-head-wrapper {
      position: fixed;
      top: var(--header-height);
      background: var(--header-background-scrolled);
      z-index: 9;
    }

    .filter-swiper {
      width: calc(100vw - var(--sider-collapsed-width));
    }
  }

  .discover-head-wrapper {
    padding: 10px 0px;
    height: var(--discover-head-height);
    transition: background-color 0.2s ease;
    transition-delay: 0.2s;
  }

  .filter-swiper {
    display: flex;
    width: 100%;
    font-size: 1.4rem;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        width: auto;
        border-radius: 7px;
        background-color: #2020205d;

        &.active {
          background-color: #e3e3e3;

          a {
            font-weight: 500;
            // color: var(--app-background-color);
            color: var(--text-color-invert);
          }
        }

        a {
          padding: 9px 18px;
          color: inherit;
          line-height: normal;
        }
      }
    }
  }
}
