.movie-group.related {
  // display: grid;
  // .movie-card-item.horizontal:first-child {
  //   grid-column: span 3;
  //   grid-row: span 2;
  // }
}

.movie-card-item-related {
  display: flex;
  flex-direction: column;
  width: calc((100% - (5 * 20px)) / 6);
  // height: 380px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow-medium1);
  transition: all 0.15s;

  .el-skeleton.is-animated {
    .ing-box {
      position: relative;
      height: 8vw;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;

      .el-skeleton__item.skeleton-img {
        width: 100%;
        height: 100%;
      }
    }

    .content-skeleton {
      margin-top: 10px;

      .top {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .left {
          flex-grow: 1;
        }

        .circle {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }

      .bottom {
        margin-top: 10px;
      }

      .el-skeleton__item.el-skeleton__text {
        // height: 18px;
      }
    }
  }

  .img-box {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--background-content-color);
      transition: all 0.15s;

      &[lazy='error'] {
        background-image: url('https://ik.imagekit.io/z8fhvnk8u/images/svg/error-image.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 27%;
        transition: background-position 0s;
      }
    }

    .video-preview {
      video {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .float-center {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .loading-video {
        }
      }
    }

    .percent-viewed {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: var(--percent-viewed);
      background-color: var(--app-background-color3);
      z-index: 1;
    }

    .viewed-overlay-bar {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      z-index: 0;
      background-color: #3c3c3c59;
    }

    .play-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.15s;

      svg {
        font-size: 5rem;
        width: 5rem;
        height: 5rem;
        transition: all 0.15s;
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }

      .play-icon {
        z-index: 2;
        opacity: 1;
      }
    }

    &:active {
      .play-icon {
        svg {
          opacity: 0.8;
        }
      }
    }
  }

  .info {
    padding: 10px;
    padding-bottom: 15px;
    background-color: var(--background-content-color1);
    flex-grow: 1;
    color: inherit !important;
    transition: all 0.15s;

    .title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 40px);
      font-size: 1.7rem;
      font-weight: 500;
    }

    .middle {
      margin-top: 3px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        gap: 10px;
      }

      .right {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);

        .ant-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--border-regular);
          background-color: var(--background-content-color2);
          transition: all 0.15s;

          svg {
            font-size: 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }

    .bottom {
      color: var(--text-color-gray);
      margin-top: 10px;

      .overview {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.45rem;
        line-height: 1.7;
      }
    }

    &:hover {
      .title {
      }
    }
  }

  &:hover {
    &.show-video {
      .img-box {
        .video-preview {
          .float-center {
            display: flex;
          }
        }

        .percent-viewed,
        .viewed-overlay-bar {
          display: none;
        }
      }
    }

    .info {
      background-color: #202020;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .movie-card-item-related {
    width: calc((100% - (4 * 20px)) / 5);
    // height: 365px;
  }
}

@media only screen and (max-width: 1500px) {
  .movie-card-item-related {
    width: calc((100% - (3 * 20px)) / 4);
  }
}

@media only screen and (max-width: 1300px) {
  .movie-card-item-related {
    width: calc((100% - (2 * 20px)) / 3);
    // height: 370px;
  }
}

@media only screen and (max-width: 1100px) {
  .movie-card-item-related {
    // height: 335px;
  }
}

@media only screen and (max-width: 900px) {
  .movie-card-item-related {
    // height: 330px;
  }
}

@media only screen and (max-width: 650px) {
  .movie-card-item-related {
    width: calc((100% - (1 * 20px)) / 2);
    // height: 340px;
  }
}

@media only screen and (max-width: 500px) {
  .movie-card-item-related {
    width: 100%;
  }
}
