.comment-item-child {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7px 0px;

  &.focused {
    padding: 7px;
    margin-left: -7px;
    border-radius: 2px;
    background-color: #131313;
    outline: 1px solid var(--app-background-color);
    box-shadow: 0 0 8px #008ddfcf;
  }

  .comment-item-child-container {
    display: flex;
    width: 100%;

    .author {
      .author-image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .right-side {
      flex-grow: 1;
      margin-left: 11px;

      .top {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        gap: 10px;

        .created-at,
        .updated-text {
          font-size: 1.3rem;
          color: var(--text-color-gray);
        }
      }

      /* .comment-content {
        .comment-content-box {
        }
      } */

      .actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 7px;

        .ant-btn {
          font-size: 1.3rem;
        }
      }

      .comment-form {
        margin-top: 5px;
      }
    }
  }

  &:hover {
    .more-actions {
      .ant-btn {
        transition: all 0s;
        opacity: 1;
      }
    }
  }

  .more-actions {
    .ant-btn {
      height: 33px;
      width: 33px;
      opacity: 0;

      svg {
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }
}

.el-dropdown__popper.dropdown-viewmore {
  .el-dropdown-menu {
    /* .main-action {
    } */

    .danger-zone {
      .el-dropdown-menu__item {
        &.remove-item {
          color: var(--text-danger-color);

          span,
          a {
            color: var(--text-danger-color);
          }
        }
      }
    }
  }
}
