.viewmore-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid var(--border-regular);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    height: 5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      0deg,
      var(--background-content-color) 0%,
      rgba(10, 10, 10, 0) 100%
    );
    z-index: 0;
  }

  &.open {
    &::before {
      display: none;
      background: none;
      z-index: -1;
    }
  }

  .viewmore-btn {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px auto;
    padding: 10px;
    font-size: 1.7rem;
    background-color: var(--background-content-color1);
    border: 1px solid var(--border-regular-btn);
    z-index: 1;
    transition: all 0.15s;

    i,
    svg {
      color: inherit;
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
