.require-auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-result {
    .ant-result-title {
      font-size: 2.2rem;
    }

    .ant-result-extra {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        color: var(--text-color);
      }

      .ant-btn.default.gradient {
        padding: 11px 30px;
        border-radius: 2px;
        margin: 0px auto;
        color: var(--text-color);
        height: 100%;
      }
    }
  }
}
