// .footer {
//   margin-right: var(--side-view-play-width);
// }

.play-tv {
  position: relative;
  height: 100%;

  .play-container {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .main-play {
      flex: 1;
      width: 100%;
      order: 1;

      .top-page {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        z-index: 2;
        margin-bottom: 8px;

        .back-page {
          .ant-btn {
            padding-left: 0px;
          }
        }

        .progress-history {
          .ant-progress-text {
            /* margin-left: 0px; */
            font-size: 1.3rem;
          }
        }
      }

      .video {
        width: 100%;
        position: relative;

        .video-wrapper {
          position: relative;
          width: 100%;
          z-index: 1;

          /* iframe {
          } */
        }
      }

      .movie-content {
        position: relative;
        z-index: 1;
        padding-top: 10px;

        .el-skeleton.is-animated {
          width: 100%;

          .el-skeleton__item.el-skeleton__text {
            &.title {
              height: 18px;
              min-width: 250px;
              margin-bottom: 20px;
            }

            &.rate {
              margin-top: 5px;
              min-width: 250px;
              height: 15px;
            }

            &.view {
              margin-top: 5px;
              min-width: 100px;
            }
          }

          .actions {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            margin-bottom: 20px;
            margin-top: 0px;

            .left,
            .right {
              display: flex;
            }

            .el-skeleton__item.el-skeleton__button {
              width: 100px;

              & + .el-skeleton__item.el-skeleton__button {
                margin-left: 15px;
              }
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
        }

        .movie-title {
          font-weight: 500;
        }

        .movie-original-title {
          color: var(--text-color-gray);
        }

        .tags {
          margin-top: 10px;
        }

        .rating-movie {
          /* margin-top: 10px; */
          margin-top: 5px;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 13px;
          margin-bottom: 18px;

          .action-btn {
            min-height: 40px;
            height: 42px;
            color: inherit;

            /* .ant-btn {
                  svg {
                  }
                } */
          }

          .left {
            display: flex;
            flex-direction: row;
            align-items: center;

            .ant-btn {
              &.add {
                background-color: rgba(55, 55, 55, 0.3);

                svg {
                  margin-left: -5px;
                  font-size: 2.5rem;
                  width: 2.5rem;
                  height: 2.5rem;
                }

                &:hover {
                  border-color: var(--btn-hover-border-color);
                  background-color: rgba(97, 97, 97, 0.4);
                }
              }
            }
          }

          .right {
            display: flex;
            align-items: center;

            .ant-btn {
              padding: 7px 20px;
            }

            svg {
              margin-right: 8px;
              font-size: 2.1rem;
              width: 2.1rem;
              height: 2.1rem;
            }
          }
        }

        #comment {
          margin-top: 20px;
        }

        .list-episodes-section {
          margin-top: 20px;
        }
      }
    }

    .side-view {
      // position: relative;
      flex: 0 0 var(--side-view-play-width);
      width: var(--side-view-play-width);
      max-width: var(--side-view-play-width);
      padding-top: 15px;
      // margin-left: 24px;
      position: sticky;
      padding-right: 17px;
      // top: calc(var(--header-height) + 15px);
      top: calc(var(--header-height));
      // right: 0;
      max-height: calc(100vh - var(--header-height));
      overflow-y: auto;
      order: 2;

      .secondary-movie-content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .el-skeleton.is-animated {
          display: flex;
          flex-direction: column;
          gap: 18px;
          width: 100%;

          .poster-box {
            .movie-info {
              display: flex;
              flex-direction: column;
              gap: 15px;
              width: 100%;
            }
          }

          .img-box {
            display: flex;
            flex-direction: column;
            width: calc((100% - (9 * var(--gap))) / 10);
            width: 80px;
            flex-shrink: 0;
            gap: 10px;

            .el-skeleton__item.skeleton-img {
              width: 100%;
            }
          }

          .el-skeleton__item.el-skeleton__text {
          }
        }

        .poster-box {
          display: flex;
          gap: 10px;

          .poster {
            position: relative;
            width: 80px;

            .img-box {
              position: relative;

              .ant-ribbon-wrapper {
                position: absolute;
                left: 0;
                z-index: 1;

                .ant-ribbon {
                  line-height: 18px;
                  background-color: var(--app-background-color);

                  &.vip-1 {
                    background-color: var(--app-background-color);
                  }

                  &.vip-2 {
                    background-color: #e2c90d;
                  }

                  &.vip-3 {
                    background-color: #e26c0d;
                  }

                  .ant-ribbon-text {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #fff;
                    // font-style: italic;
                  }
                }
              }

              img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: #080808;
                border-top-right-radius: var(
                  --info-page-backdrop-border-radius
                );
              }
            }
          }

          .movie-info {
            .movie-title {
              font-size: 2rem;
            }

            .movie-original-title {
              color: var(--text-color-gray);
            }

            .movie-info-item {
              display: inline-block;
              color: var(--text-color-gray);
              margin-top: 2px;

              &:not(:nth-child(2)) {
                &::before {
                  content: '\2022';
                  /* color: #d0d0d0; */
                  color: inherit;
                  display: inline-block;
                  padding: 0 5px;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }

        .tags + .tags {
          margin-top: 10px;
        }
      }

      .suggested {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .play-tv {
    .play-container {
      .movie-content {
        .actions {
          .left {
            .action-btn {
              height: 40px;
            }

            .ant-btn {
              font-size: 1.5rem;

              svg {
                margin-right: 7px;
              }

              &.add {
                svg {
                  margin-left: -7px;
                }
              }
            }
          }

          .right {
            .ant-btn {
              font-size: 1.5rem;

              svg {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .play-tv {
    .play-container {
      .movie-content {
        .actions {
          .left {
            .ant-btn {
              padding: 7px 20px;
            }
          }

          .right {
            .ant-btn {
              padding: 7px 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .play-tv {
    .play-container {
      .movie-content {
        .actions {
          .right {
            .ant-btn {
              padding: 7px 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .play-tv {
    .play-container {
      .top-page {
        flex-direction: column;
        gap: 5px;

        .back-page {
          align-self: flex-start;
        }
      }
    }
  }
}
