.loading-circle {
  svg {
    margin: 0px auto;
    width: 2rem;
    height: 2rem;

    path {
      stroke: var(--loading-spinner-color);
    }
  }

  &.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
      font-size: 4.5rem;
      width: 4.5rem;
      height: 4.5rem;
      color: var(--loading-app-color);

      path {
        stroke: var(--loading-app-color);
      }
    }
  }

  svg.loading-icon {
    animation: loading-circle 1.2s linear infinite;
  }
}

@keyframes loading-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
