.require-auth-dialog {
  /* max-width: 600px;
  min-width: 600px; */
  border-radius: 2px;
  box-shadow:
    0 3px 6px -4px #000000ba,
    0 6px 16px 0 #00000098,
    0 9px 28px 8px #00000077;
  background-color: var(--dropdown-background-color);

  &.el-dialog {
    .el-dialog__header {
      position: relative;
      margin: 0px;

      svg {
        top: 3px;
        right: 5px;
      }
    }

    .el-dialog__body {
      padding-bottom: 0px;

      .ant-result {
        padding: 0px 20px;

        .ant-result-image {
          height: 235px;
          margin-bottom: 20px;

          svg {
            width: 100%;
            height: 100%;
            transform: scale(0.9);
          }
        }

        .ant-result-title {
          font-size: 2.2rem;
          padding: 0px 20px;
          line-height: inherit;
        }
      }
    }

    .el-dialog__footer {
      display: flex;
      padding-bottom: 35px;
      gap: 15px;
      justify-content: center;
      margin-top: 20px;

      a {
        color: var(--text-color);
      }

      .ant-btn {
        padding: 7px 50px;
      }
    }
  }

  &.ant-modal {
    .ant-modal-close {
      svg {
        top: 3px;
        right: 5px;
      }
    }

    .ant-modal-content {
      .ant-modal-close {
        .ant-modal-close-x {
          height: auto;
          width: auto;

          .icon.close {
            top: 7px;
          }
        }
      }

      .ant-modal-body {
        padding-top: 50px;

        .ant-result {
          padding: 0px 20px;

          .ant-result-title {
            padding: 0px 20px;
            line-height: inherit;
            color: #fff;
          }

          .ant-result-image {
            height: 235px;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .ant-modal-footer {
        display: flex;
        padding-bottom: 40px;
        gap: 15px;
        justify-content: center;
        border: none;

        .ant-btn {
          padding: 7px 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .require-auth-dialog {
    &.ant-modal {
      .ant-modal-content {
        .ant-modal-body {
          padding-left: 15px;
          padding-right: 15px;

          .ant-result {
            .ant-result-title {
              padding: 0px;
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
