header.header-bar-service {
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* background: linear-gradient(to bottom, #080808 0, #08080800 100%); */
  background: var(--background-content-color);
  /* border-bottom: 0.25px solid var(--border-regular-light); */
  z-index: var(--header-z-index);
  /* transition: background-color 0.25s; */
  /* transition-delay: 0.3s; */

  .header-bar-service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // max-width: var(--max-width-app);
    padding: 0px 24px;
    margin: 0px auto;
  }

  .left-header {
    display: flex;
    align-items: center;
    gap: 20px;

    .menu-btn {
      display: flex;
      height: auto;
      background: transparent;
      border: none;
      cursor: pointer;
      color: inherit;
      transition: opacity 0.25s;

      .anticon-menu {
        font-size: 2rem;
      }

      svg.menu {
        font-size: 2.4rem;
      }

      svg.close {
        margin-left: -2px;
        margin-right: -2.5px;
        font-size: 3rem;
      }

      &:active {
        opacity: 0.8;
      }
    }

    .logo {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 2.25rem;
      }
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    min-width: 200px;

    .el-skeleton.is-animated {
      display: flex;
      width: auto;
      gap: 15px;

      .menu-item.el-skeleton__item.el-skeleton__button {
        display: inline-block;
        height: 37px;
        width: 37px;
        border-radius: 50%;
      }
    }

    ul.menu-header {
      display: flex;
      flex-direction: row;
      height: 100%;
      list-style: none;
      gap: 10px;

      li.menu-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 15px;

        &.account {
          padding-right: 0px;
        }

        .el-dropdown-link {
          display: flex;
          user-select: none;
          cursor: pointer;
          outline: none;
          // margin-left: 5px;

          .user-avatar {
            overflow: hidden;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            opacity: 0.8;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          svg {
            fill: var(--menu-text-color);
          }

          &[aria-expanded='true'] {
            svg {
              fill: var(--menu-active-text-color);
            }

            .user-avatar {
              opacity: 1;
            }
          }

          &.notification {
            &[aria-expanded='true'] {
              .ant-badge {
                .show-notify-btn {
                  .fa-bell.fa-solid {
                    display: inline-block;
                  }

                  .fa-bell.fa-regular {
                    display: none;
                  }
                }
              }
            }

            .ant-badge {
              .show-notify-btn {
                display: flex;

                .fa-bell.fa-solid {
                  display: none;
                }

                .fa-bell.fa-regular {
                  display: inline-block;
                }

                .fa-bell {
                  font-size: 2.4rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  color: inherit;
                }
              }

              .ant-badge-count {
                font-style: normal;
                background-color: #c50000;
              }
            }
          }

          &.account {
            padding: 5px 0px;

            .el-icon {
              width: auto;
              height: auto;
            }

            svg {
              width: 1.5rem;
              height: 1.5rem;

              &.user-outlined {
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 7px;
              }
            }
          }
        }

        .el-popper.el-dropdown__popper.header {
          top: calc(var(--header-height) / 1.46) !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  header.header-bar-service {
    .header-bar-service-container {
      padding: 0px 20px;
    }
  }
}

@media only screen and (max-width: 900px) {
  header.header-bar-service {
    .header-bar-service-container {
      padding: 0px 15px;
    }

    .left-header {
      .menu-btn {
        // display: flex;
      }

      /*  .logo {
      } */
    }
  }

  .el-popover {
    left: 50% !important;
    transform: translateX(-50%);
    width: 100% !important;
    .section-title.search {
      margin-top: 0px;
    }

    .ant-input-group-addon {
      .ant-input-search-button {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  header.header-bar-service {
    .ant-select-show-search.search-header {
      display: none;
    }

    .right-header {
      display: flex;
      align-items: center;

      /*  ul.menu-header {
        li.menu-item {
        }
      } */
    }
  }
}

@media only screen and (max-width: 650px) {
  header.header-bar-service {
    .header-bar-service-container {
      padding: 0px 15px;
    }

    .left-header {
      gap: 15px;

      /* .logo {
      } */
    }

    /* .right-header {
    } */
  }
}
