.invoices-page {
  .center-page {
    /* max-width: var(--max-width-center-page); */
    max-width: 1024px;
    margin: 0px auto;
  }

  .invoices-page-container {
    padding-top: 10px;

    .back-page-btn {
      margin-bottom: 20px;
    }

    .invoices-page-header {
      margin-bottom: 15px;
    }
  }
}
