.comment-form {
  display: flex;
  gap: 13px;

  .author {
    .author-image {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &.small {
    gap: 11px;

    .author-image {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .comment-input {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .contenteditable-input-field {
      position: relative;

      &:has(#contenteditable-root:focus) {
        &::before {
          width: 100%;
        }
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 2;
        height: 1px;
        width: 0%;
        background-color: var(--color-green-800);
        transition: all 0.1s;
      }

      #contenteditable-root {
        position: relative;
        background-color: transparent;
        max-height: 200px;
        overflow-y: scroll;
        color: inherit;
        /* height: 25px !important;
        min-height: 25px !important;
        max-height: 25px !important; */
        padding-left: 3px;
        padding-top: 0px;
        padding-bottom: 2px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--btn-border-color);
        box-shadow: none;
        font-size: 1.45rem;

        .reply-to {
          display: inline;
          white-space: nowrap;
          color: #008ddf;
        }

        &.changed {
          &::before {
            display: none;
          }
        }

        &::before {
          content: attr(aria-label);
          color: var(--text-placeholder-color);
          cursor: text;
        }

        &::-webkit-scrollbar {
          width: 12px;
          cursor: default;
        }
      }
    }

    .ant-input-textarea.comment-input-field {
      position: relative;

      &::after {
        /* display: none; */
        position: absolute;
        font-size: 1.3rem;
        /* top: 50%;
        transform: translateY(-50%); */
        bottom: 5px;
        /* right: 8px; */
        right: 2px;
        z-index: 1;
      }
    }

    .actions-comment {
      max-height: 0px;
      overflow: hidden;
      padding: 0px;
      transition: all 0.15s;

      &.active {
        max-height: 50px;
        overflow: visible;
      }

      .actions-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        width: 100%;

        svg {
          transition: all 0.15s;

          &:active {
            opacity: 0.8;
          }
        }

        .left {
          svg.emoticon {
            font-size: 2.2rem;
            cursor: pointer;
          }

          .v3-emoji-picker {
            position: absolute;
            z-index: 1;
            top: 100%;

            --v3-picker-bg: var(--background-content-color1);
          }
        }

        .right {
          display: flex;
          gap: 7px;

          .ant-btn {
            height: 30px;
            font-size: 1.4rem;
            border-radius: 20px;

            &.comment-btn {
              padding: 6.5px 15px;
              /* color: var(--color-green-800); */
              color: #fff;

              &:not(:disabled) {
                background-color: var(--color-green-800);

                &:hover {
                  // background-color: var(--color-primary-600);
                  background-color: var(--color-primary-800);
                }
              }
            }
          }
        }
      }
    }
  }
}
