.verify-email {
  &.active {
    margin: auto auto;
  }

  .verify-email-container {
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0s;

    .back-btn {
      position: absolute;
      display: flex;
      align-items: center;
      top: 6px;
      padding: 0px;

      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 7px;
      }
    }

    .verify-form {
      text-align: center;
      margin: 0px auto;
      max-width: 500px;

      .title-verify {
        margin-bottom: 20px;

        h1 {
          font-size: 3rem;
          /* font-size: 2.7rem;
          margin-bottom: 5px; */
        }

        p {
          font-size: 1.8rem;
        }

        /* strong {
        } */
      }

      .ant-input-affix-wrapper {
        background: transparent;

        input,
        .ant-input-prefix {
          color: inherit;
        }

        &:hover {
          background: transparent;
        }
      }

      .ant-input-affix-wrapper-focused {
        background: transparent;
      }

      .ant-form-item {
        .ant-col.ant-form-item-control {
          .ant-form-item-control-input-content {
            display: flex;
            flex-direction: row;

            .ant-input-number-affix-wrapper {
              width: 100%;
            }
          }
        }

        &.resend {
          .count-down-btn {
            margin: 0px auto;
            /* min-width: 100px; */
            background-color: transparent;

            /* &[disabled] {
              color: #b3b3b3;
            } */
          }
        }

        &.pin {
          .ant-form-item-label {
            text-align: center;
          }

          /* .ant-col.ant-form-item-control {
            .ant-form-item-control-input-content {
              // .ant-input-number {
              //   border-color: transparent;
              //   box-shadow: none;
              //   border-radius: 2px;
              //   border-bottom-color: #fff;
              //   background-color: #202020;
              //   font-size: 4rem;

              //   input {
              //     text-align: center;
              //     height: 50px;
              //   }

              //   &.ant-input-number-focused {
              //     .ant-input-number-input-wrap {
              //       outline: 1px solid var(--app-background-color);
              //     }
              //   }
              // }
            }
          } */
        }
      }

      .verify-form-button {
        font-size: 1.5rem;
        /* margin-top: 20px; */
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }

        /* &:disabled {
          // background-color: transparent;
        } */
      }
    }
  }
}
