.cast-crew {
  position: relative;
  z-index: 1;
  margin-top: 25px;

  .cast-crew-tabs {
    .el-skeleton.is-animated {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .el-skeleton__item.skeleton-img {
        width: 150px;
        height: 180px;
      }

      .content-skeleton {
        /* .el-skeleton__item.el-skeleton__text {
        } */
      }
    }

    &.ant-tabs {
      overflow: visible;

      .ant-tabs-nav-list {
        .ant-tabs-tab {
          &:hover {
            .ant-tabs-tab-btn {
              color: inherit;
              /* color: transparent;
              display: inline;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              background-image: linear-gradient(
                to right,
                var(--color-primary-950),
                var(--color-primary-600)
              ); */
            }
          }

          .ant-tabs-tab-btn {
            color: inherit;
            font-weight: 600;
            font-size: 1.7rem;
            transition: all 0.1s;
          }
        }

        .ant-tabs-tab-active {
          &:hover {
            .ant-tabs-tab-btn {
              color: var(--color-primary-800);
            }
          }

          .ant-tabs-tab-btn {
            color: var(--color-primary-800);
            /* color: transparent;
            display: inline;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(
              to right,
              var(--color-primary-950),
              var(--color-primary-600)
            ); */
          }
        }

        .ant-tabs-ink-bar {
          height: 2px;
          background: var(--color-primary-800);
        }
      }
    }

    &.el-tabs {
      .el-tabs__nav {
        .el-tabs__item {
          font-weight: 500;
          font-size: 1.7rem;
        }
      }
    }
  }
}
