.lastest-episodes {
  display: flex;
  align-items: center;

  .label {
    white-space: nowrap;
    margin-right: 0.3rem;
    color: var(--text-label-color);
  }

  .el-skeleton.is-animated {
    margin-left: 5px;
    margin-bottom: -5px;
    width: 100%;

    .el-skeleton__item.episode-item {
    }
  }

  ul.list-lastest-episodes {
    display: flex;
    overflow: hidden;
    list-style-type: none;
    gap: 7px;
    flex-wrap: wrap;

    li {
      a {
        display: inline-block;
        white-space: nowrap;
        /* padding: 7px 10px; */
        padding: 0px 10px;
        border-radius: 3px;
        color: var(--app-background-color);
        font-weight: 500;
        transition: all 0.15s;

        /* background-image: linear-gradient(
          to right,
          #006a88,
          var(--app-background-color2),
          var(--app-background-color1)
        );
        background-size: 200% 100%; */

        /* &:hover {
          background-size: 200% 100%;
          // background-position: -75px center;
          background-position: 100% center;
        } */

        &:hover {
        }

        &:active {
          opacity: 0.8;
        }

        &:visited {
          /* color: #006098; */
          color: #00e5a4;
        }
      }
    }
  }
}
