.like-share {
  .action-btn {
    display: inline-block;
    white-space: nowrap;
    min-height: 40px;
    height: 42px;
    color: inherit;

    .ant-btn {
      padding: 9px 13px;
      font-size: 1.5rem;

      svg {
        font-size: 2.2rem;
        margin-right: 8px;
      }
    }
  }
}

.el-dialog.social-sharing-dialog {
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #000000ba, 0 6px 16px 0 #00000098,
    0 9px 28px 8px #00000077;
  background-color: var(--background-content-color1);

  .el-dialog__header {
    .social-sharing-dialog-title {
      font-size: 2rem;
      text-align: center;
    }
  }

  .el-dialog__body {
    .list-network {
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 20px;

      .share-network {
        display: flex;
        color: inherit;

        .ant-btn {
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
          height: 33px;

          &:hover {
            // background-color: #373737 !important;
            background-color: var(--app-background-color) !important;
          }
        }

        &.facebook {
          .ant-btn {
            background-color: #0866ff;
          }
        }

        &.linkedIn {
          .ant-btn {
            background-color: #0a66c2;
          }
        }

        &.email {
          .ant-btn {
            background-color: #b41800;
          }
        }

        &.messenger {
          .ant-btn {
            background-color: #c1007a;
          }
        }

        &.pinterest {
          .ant-btn {
            background-color: #e60023;
          }
        }

        &.reddit {
          .ant-btn {
            background-color: #d93a00;
          }
        }

        &.skype {
          .ant-btn {
            background-color: #0078ca;
          }
        }

        &.telegram {
          .ant-btn {
            background-color: #1d98dc;
          }
        }

        &.twitter {
          .ant-btn {
            background-color: #1d9bf0;
          }
        }

        &.whatsapp {
          .ant-btn {
            background-color: #15b750;
          }
        }

        &.baidu {
          .ant-btn {
            background-color: #4e6ef2;
          }
        }

        &.weibo {
          .ant-btn {
            background-color: #ff8140;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .like-share {
    .action-btn {
      height: 40px;

      .ant-btn {
        font-size: 1.5rem;

        svg {
          font-size: 2.2rem;
          margin-right: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .like-share {
    .action-btn {
      .ant-btn {
        padding: 7px 10px;
      }
    }
  }
}
