.forgot-password {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.6rem;

  .forgot-password-container {
    display: flex;
    max-width: 100%;
    margin: auto auto;

    .form-forgot-password-container {
      position: relative;
      background-color: rgba(0, 0, 0, 0.9);
      width: 550px;
      min-height: 340px;
      overflow: hidden;
      border-radius: 2px;

      .back-page-btn {
        position: absolute;
        display: flex;
        align-items: center;
        top: 8px;
        left: 10px;
        padding: 0px;

        svg {
          width: 2.2rem;
          height: 2.2rem;
          margin-right: 3px;
        }

        a {
          color: inherit !important;
        }
      }

      .form-forgot-password {
        padding: 30px 70px;

        .forgotPass-header {
          margin-bottom: 20px;
          text-align: center;
          cursor: default;

          h1 {
            margin-bottom: 10px;
          }

          .note {
            &.is-sended {
              color: #f1ac09;
            }
          }
        }

        .ant-row.ant-form-item {
          .ant-col.ant-form-item-control {
            .ant-input-affix-wrapper {
              padding: 8px 11px;
            }
          }

          &.submit {
            padding-top: 20px;

            .submit-form-button {
              width: 100%;

              &:not(:disabled) {
                background-color: var(--app-background-color);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .change-page.forgot-password {
    font-size: 1.5rem;

    .forgot-password-container {
      .form-forgot-password-container {
        .form-forgot-password {
          .forgotPass-header {
            h1 {
              font-size: 2.7rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .forgot-password {
    .forgot-password-container {
      .form-forgot-password-container {
        width: 500px;

        .form-forgot-password {
          padding: 30px 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .forgot-password {
    .forgot-password-container {
      .form-forgot-password-container {
        width: 470px;

        .form-forgot-password {
          padding: 30px 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .forgot-password {
    .forgot-password-container {
      .form-forgot-password-container {
        .form-forgot-password {
          padding: 30px 40px;
        }
      }
    }
  }
}
