@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..700&display=swap');

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-100.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-200.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-300.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-regular.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-500.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-600.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/Inter/Inter-700.woff2') format('woff2'),
    url('~/assets/fonts/Inter/Inter-700.ttf') format('truetype');
}
