@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-100.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-100italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-100italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-200.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-200italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-200italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-300.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-300italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-300italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-regular.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-500.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-500italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-500italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-600.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-600italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-600italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-700.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/NotoSans/NotoSans-700italic.woff2') format('woff2'),
    url('~/assets/fonts/NotoSans/NotoSans-700italic.ttf') format('truetype');
}
