@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..700&display=swap');

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src:
    url('~/assets/fonts/RobotoFlex/RobotoFlex-regular.woff2') format('woff2'),
    url('~/assets/fonts/RobotoFlex/RobotoFlex-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/RobotoFlex/RobotoFlex-Bold.woff2') format('woff2');
}
