/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700&display=swap'); */

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-SemiBold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Flex/RobotoFlex-Bold.woff2') format('woff2');
}
