.topic-row {
  display: none;
  position: relative;
  width: 100%;
  flex-grow: 1;
  padding: 20px 20px;
  height: auto;
  /* overflow: hidden; */
  /* background-image: linear-gradient(
    to bottom,
    rgb(53, 74, 136) 0%,
    rgba(53, 74, 136, 0.75),
    rgba(53, 74, 136, 0.5),
    rgba(15, 15, 15, 0.25),
    rgba(0, 0, 0, 0)
  ); */
  background-image: linear-gradient(
    to bottom,
    rgb(16, 68, 128) 0%,
    rgba(16, 68, 128, 0.5) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(16, 68, 128) 0%,
    rgba(16, 68, 128, 0.5) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background-image: var(--main-color); */
  z-index: 2;
  transition: all background 0.5s;

  .row-container {
    .top {
      display: flex;
      flex-direction: row;
      /* align-items: center; */
      gap: 20px;

      .backdrop {
        display: flex;
        flex: 1 0 320px;
        width: 320px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        &:hover {
          .play-now {
            opacity: 1;
            background-color: #000000b1;
          }
        }

        .img-box {
          width: 100%;
        }

        .play-now {
          /* left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%); */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s;
          opacity: 0;
          color: var(--text-color);
          gap: 10px;
          font-size: 1.4rem;

          svg {
            margin-right: -7px;
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        gap: 13px;
        position: relative;
        width: 100%;
        color: inherit;

        .title {
          margin-bottom: 12px;
          max-width: 90%;
          color: inherit;
        }

        .user-info {
          position: relative;
          flex: 1 0 40%;

          p {
            font-size: 1.5rem;
          }

          .count-video {
            margin-top: 5px;
            color: var(--text-color-gray);
            font-size: 1.5rem;

            span {
              margin-left: 7px;
            }
          }

          .el-dropdown.dropdown-viewmore {
            position: absolute;
            top: 0;
            right: 0;
          }

          .viewmore-btn {
            transition: all 0s;
            right: -50%;

            /* svg {
            } */
          }
        }
      }
    }

    .overlay-image {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
      opacity: 0.15;
      filter: blur(20px);
      object-fit: cover;
    }

    .bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin-top: 20px;

      .box-btn {
        flex: 1 0 300px;

        .remove-all-btn {
          margin: 0px auto;
          height: 36px;
          min-width: 200px;
          padding: 6px 30px;
          background-color: #000000;

          &:hover {
            color: var(--text-danger-color);
            background-color: #141414;
          }

          .el-icon {
            font-size: 2rem;
            margin-right: 2px;
          }
        }
      }

      .widget {
        flex: 1 0 50%;

        .search-row.ant-input-affix-wrapper {
          background: transparent;
          border: none;
          border-bottom: 2px solid #104480;
          padding-left: 2px;

          .ant-input-prefix {
            color: inherit;

            /* svg {
            } */
          }

          .ant-input {
            background: transparent;
            padding-left: 7px;
            font-size: 1.5rem;
            color: inherit;
          }
        }
      }
    }
  }
}
