.account-page {
  font-size: 1.6rem;
  height: 100%;

  .center-page {
    /* max-width: var(--max-width-center-page); */
    max-width: 1024px;
    margin: 0px auto;
  }

  .account-page-container {
    --left-width: 258px;
    padding-top: 20px;

    .account-page-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--border-regular);

      h1 {
        font-size: 3rem;
        font-weight: normal;
        white-space: nowrap;
        cursor: default;
      }

      .join-since {
        white-space: nowrap;
        align-self: flex-end;
        font-size: 1.4rem;
        color: var(--text-color-gray1);
      }
    }

    .account-grid {
      .account-grid-row {
        display: flex;
        padding: 15px 2px 15px 2px;
        border-bottom: 1px solid var(--border-regular);

        &.info-account {
          .row-label {
            display: flex;
            flex-direction: column;

            .avatar-box {
              display: flex;
              position: relative;
              align-items: center;
              justify-self: center;
              position: relative;
              height: 80px;
              width: 80px;
              border-radius: 50%;
              margin-top: 0.7em;
              margin-left: 2em;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .updload-avatar {
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                user-select: none;
                transition: background-color 0.15s;

                svg.updload-avatar-icon {
                  width: 2rem;
                  height: 2rem;
                  color: var(--color-primary-800);
                  z-index: -1;
                  opacity: 0;
                  transition: opacity 0.15s;
                }

                &:active {
                  svg.updload-avatar-icon {
                    opacity: 0.8 !important;
                  }
                }
              }

              &:hover {
                cursor: pointer;

                .updload-avatar {
                  background-color: #000000b1;

                  svg.updload-avatar-icon {
                    z-index: 1;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        .row-label {
          width: var(--left-width);
          flex-shrink: 0;
          font-size: 1.8rem;
          color: var(--text-color-gray);
          cursor: default;
        }

        .row-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;

          .row-content-item + .row-content-item {
            margin-top: 8px;
          }

          .row-content-item {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            &.password {
              cursor: default;
              color: var(--text-color-gray);
            }

            &.full-name {
              .left {
                svg {
                  fill: var(--text-link-color);
                  cursor: pointer;
                  margin-left: 10px;
                  width: 1.7rem;
                  height: 1.7rem;
                  transition: opacity 0.15s;

                  &.edit-icon {
                    opacity: 0;
                  }

                  &:active {
                    opacity: 0.8 !important;
                  }
                }

                &:hover {
                  svg {
                    &.edit-icon {
                      opacity: 1;
                    }
                  }
                }
              }
            }

            .left {
              display: flex;
              align-items: center;
              flex-grow: 1;

              ul.bills-list {
                display: flex;
                flex-direction: column;
                list-style: none;
                flex-grow: 1;
                margin-right: 50px;

                .bill-item {
                  display: inline-flex;
                  align-items: center;
                  flex-grow: 1;
                  gap: 15px;
                  padding: 10px 0px;
                  padding-bottom: 5px;
                  font-size: 1.4rem;
                  border-bottom: 0.5px solid var(--border-regular-light);

                  /*  &:not(:only-child, :last-child) {
                  } */

                  .index {
                    color: var(--text-color-gray);
                  }

                  .info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-grow: 1;

                    .description {
                      max-width: 60%;
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      color: var(--text-color);
                    }

                    .status {
                      display: inline-block;
                      padding: 5px 12px;
                      font-size: 1.3rem;
                      border-radius: 2px;

                      &.complete {
                        background-color: rgba(0, 255, 132, 0.1);
                      }

                      &.pending,
                      &.expired,
                      &.canceled {
                        background-color: rgba(255, 191, 0, 0.1);
                      }

                      &.incomplete {
                        background-color: rgba(255, 0, 0, 0.1);
                      }
                    }
                  }
                }
              }

              span.label {
                display: inline-block;
                width: 85px;
                color: var(--text-color-gray);
                cursor: default;

                & + span[contenteditable='true'] {
                  padding: 0px 5px;
                }
              }
            }

            .right {
              white-space: nowrap;

              a {
                color: var(--color-primary-800);
                transition: all 0.15s;

                &:hover {
                  text-decoration: underline;
                }
              }

              .upgrade-btn {
                padding: 7px 15px;
                background-image: linear-gradient(
                  45deg,
                  var(--color-primary-800),
                  var(--color-primary-600),
                  var(--color-primary-400)
                );
                box-shadow: 0 1px 3px #000;
                font-size: 1.4rem;
                color: var(--text-color);
              }
            }
          }
        }
      }
    }

    .bottom-zone {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;

      .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: var(--left-width);

        .ant-btn {
          margin-top: auto;
          padding: 7px 25px;
          font-size: 1.4rem;
          /* width: 70%;
          max-width: 180px; */
          color: var(--text-link-color);
          border: 1px solid var(--color-primary-800);
          border-radius: 20px;

          /* &.switch-account-btn,
          &.delete-account-btn {
          } */

          &:hover {
            color: var(--text-color);
            background-color: var(--color-primary-800);
          }
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        margin: 0px auto;

        .ant-btn {
          &.logout-btn {
            margin: 0px auto;
            padding: 7px 90px;
            border-radius: 30px;
            background-color: #d2d2d2;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

            &:hover {
              background-color: #e6e6e6;
            }

            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.upload-avatar-dialog {
  .avatar-image {
    display: block;
    margin-top: 15px;
  }
}

html.dark {
  .account-page {
    .account-page-container .bottom-zone .right .ant-btn.logout-btn {
      background-color: #353535;

      &:hover {
        background-color: #3f3f3f;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .account-page {
    .account-page-container .bottom-zone .right .ant-btn.logout-btn {
      background-color: #353535;

      &:hover {
        background-color: #3f3f3f;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .account-page {
    font-size: 1.5rem;

    .account-page-container {
      .account-page-header {
        gap: 15px;

        h1 {
          font-size: 2.7rem;
        }
      }

      .account-grid {
        .account-grid-row {
          .row-label {
            width: 228px;
          }

          /* &.info-account {
          } */
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .account-page {
    .account-page-container {
      #danger-zone {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .delete-account-btn {
        margin: 0px auto;
      }

      .account-grid {
        .account-grid-row {
          flex-direction: column;

          /* &.info-account {
            .row-label {
            }
          } */

          .row-label {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }

          /* .row-content {
          } */
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .account-page {
    .account-page-container {
      .account-page-header {
        gap: 10px;

        h1 {
          font-size: 2.5rem;
        }

        .join-since {
          margin-left: auto;
        }
      }

      /* .account-grid {
        .account-grid-row {
          .row-label {
            // width: 190px;
          }
        }
      } */
    }
  }
}
