.comment-item {
  position: relative;
  display: flex;
  flex-direction: column;

  & + .comment-item {
    margin-top: 12px;
  }

  .comment-item-container {
    display: flex;
    width: 100%;
    gap: 13px;

    & > .author {
      .author-image {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    & > .right-side {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .right-side-wrapper {
        display: flex;
        flex-direction: row;

        &:hover {
          .more-actions {
            .ant-btn {
              transition: all 0s;
              opacity: 1;
            }
          }
        }

        .content-comment-box {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .main-comment-content {
            width: 100%;

            .top {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              gap: 10px;

              .created-at,
              .updated-text {
                font-size: 1.3rem;
                color: var(--text-color-gray);
              }
            }

            .actions {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-top: 7px;
              margin-bottom: 3px;

              .ant-btn {
                font-size: 1.3rem;
                transition: all 0.15s;
                background-color: transparent;
                border: none;
              }
            }
          }
        }

        .more-actions {
          .ant-btn {
            height: 33px;
            width: 33px;
            background-color: transparent;
            border: none;
            opacity: 0;

            &:focus {
              opacity: 1;
            }

            &[aria-expanded='true'] {
              opacity: 1;
            }

            svg {
              font-size: 1.8rem;
              cursor: pointer;
              transition: all 0.15s;

              &:active {
                opacity: 0.8;
              }
            }
          }
        }
      }

      .comment-form {
        margin-top: 5px;
      }

      .loading-replies {
        &.loading-circle {
          padding: 5px 50px;
        }

        &.loading-spinner {
          padding: 20px 50px;
        }
      }

      .replies {
        margin-top: 3px;

        & > .ant-btn.reply {
          display: flex;
          align-items: center;
          height: auto;
          padding: 3px 7px;
          padding-right: 15px;
          color: var(--link-text-color);
          font-size: 1.4rem;
          border: none;
          background-color: transparent;
          border-radius: 20px;
          transition: background-color 0s;
          font-weight: 500;

          &:hover {
            background-color: rgba(60, 60, 60, 0.5);
          }

          svg.caret {
            margin-right: 3px;
            font-size: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
            color: var(--link-text-color);
            fill: var(--link-text-color);

            &.active {
              transform: rotate(180deg);
            }
          }
        }

        .list-replies {
          .load-more {
            margin: 8px 0px;
            padding-left: 13px;

            .ant-btn {
              display: flex;
              align-items: center;
              height: auto;
              padding: 0px;
              color: var(--link-text-color);
              border: none;
              background-color: transparent;

              svg {
                margin-right: 5px;
                font-size: 2.2rem;
                width: 2.2rem;
                height: 2.2rem;
              }
            }
          }
        }
      }
    }
  }
}

.el-dropdown__popper.dropdown-viewmore {
  .el-dropdown-menu {
    .main-action {
    }

    .danger-zone {
      .el-dropdown-menu__item {
        &.remove-item {
          color: var(--text-danger-color);

          span,
          a {
            color: var(--text-danger-color);
          }
        }
      }
    }
  }
}
