.upgrade {
  font-size: 1.6rem;
  height: 100%;

  .upgrade-container {
    // max-width: var(--max-width-center-page);
    max-width: 1024px;
    margin: 0px auto;

    .step {
      color: var(--text-color-gray1);
      font-size: 1.4rem;
      font-weight: 500;
    }

    .upgrade-header {
      margin-bottom: 20px;

      ul {
        padding-left: 16px;
        list-style-type: square;

        .checkmark-group-row {
          svg {
          }
        }
      }
    }

    .submit-btn-container {
      max-width: 470px;
      margin: 0px auto;
      margin-top: 50px;
      padding: 0px 15px;

      .submit-btn {
        width: 100%;
        min-width: 110px;
        height: auto;
        background-color: var(--app-background-color);
        padding: 11px 0;
        cursor: pointer;

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .upgrade {
    font-size: 1.55rem;
  }
}
