.reset-password {
  font-size: 1.6rem;

  .center-page {
    // max-width: var(--max-width-change-page);
    max-width: 500px;
    margin: 0px auto;
  }

  .resetPass-container {
    padding-top: 20px;

    .resetPass-header {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 10px;
      }
    }

    .form-change-password {
      max-width: 500px;

      .ant-row.ant-form-item {
        &.logout-all-device {
          font-size: 1.45rem;
        }

        .ant-col.ant-form-item-control {
          .ant-form-item-control-input-content .ant-input {
            padding: 8px 11px;
          }
        }
      }

      .submit-form-button {
        margin-top: 30px;
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .reset-password {
    font-size: 1.5rem;

    .resetPass-container {
      .resetPass-header {
        h1 {
          font-size: 2.7rem;
        }
      }
    }
  }
}
