.change-password {
  font-size: 1.6rem;

  .center-page,
  .change-page {
    // max-width: var(--max-width-change-page);
    max-width: 500px;
    margin: 0px auto;
  }

  .changePass-container {
    padding-top: 20px;

    .back-page-btn {
      margin-bottom: 25px;
    }

    .changePass-header {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 10px;
      }
    }

    .form-change-password {
      max-width: 500px;

      .ant-row.ant-form-item {
        &.logout-all-device {
          font-size: 1.45rem;
        }

        .ant-col.ant-form-item-control {
          .ant-form-item-control-input-content .ant-input {
            padding: 8px 11px;
          }
        }
      }

      .submit-form-button {
        margin-top: 30px;
        width: 100%;

        &:not(:disabled) {
          background-color: var(--app-background-color);
        }
      }
    }

    .verify-email-container {
      max-width: 500px;
      margin: 0px auto;

      .back-btn {
      }

      .verify-form {
        padding: 0px;
        padding-top: 50px;

        .title-verify {
          text-align: left;

          h1 {
            margin-bottom: 10px;
          }

          p {
            font-size: inherit;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .change-page.password {
    font-size: 1.5rem;

    .changePass-container {
      .changePass-header {
        h1 {
          font-size: 2.7rem;
        }
      }
    }
  }
}
