.list-episodes-section {
  position: relative;

  .control-episodes {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
      background-color: #006999;
      color: #fff;
      padding: 6px 15px;
      height: auto;
      min-width: 90px;

      &:hover {
        background-color: #006999bb;
      }

      &:disabled {
        background-color: #313131bb;
        color: #4e4e4e;
      }
    }
  }

  .movie-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  .list-episodes-wrapper {
    padding: 7px;

    .el-skeleton.is-animated {
      padding-top: 7px;
      width: auto !important;

      .episode-item.el-skeleton__item.el-skeleton__button {
        display: inline-block;
        margin-right: 7px;
        min-width: 70px;
        padding: 8px 23px;
      }
    }

    ul.list-episodes {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      gap: 7px;
      width: 100%;
      list-style-type: none;
      max-height: 275px;
      overflow-y: scroll;
      overflow-x: hidden;

      li {
        display: inline-block;
        // margin-top: 7px;
        // margin-right: 7px;

        a,
        span {
          display: inline-block;
          text-align: center;
          min-width: 70px;
          padding: 8px 23px;
          background: linear-gradient(45deg, #080808, #2f2f2f);
          border-radius: 3px;
          color: inherit;
          user-select: none;
          white-space: nowrap;
          cursor: pointer;
          transition: all 0.15s;

          &:visited {
            color: #00e5a4;
          }
        }

        &.active {
          a,
          span {
            background: linear-gradient(
              45deg,
              var(--app-background-color7),
              var(--app-background-color3)
            );

            @keyframes episode-fade-out {
              0% {
                box-shadow: 0 0 0 0 #006a88;
              }
              40% {
                box-shadow: 0 0 0 5px #004b5f;
              }
              80% {
                box-shadow: 0 0 0 5px #003746;
              }
              100% {
                box-shadow: 0 0 0 5px #001d25;
              }
            }
          }
        }

        &:active {
          a,
          span {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
