:root {
  --background-content-color: #080808;
  --background-content-color1: #181818;
  --background-content-color2: #111111;
  --background-content-opacity: #111111e3;
  --background-content-white: #fff;
}

html.dark {
  --background-content-white: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-content-white: #111111;
  }
}
