:root {
  --border-regular: #727272;
  --border-regular-invert: #535353;
  --border-regular-btn: #5a5a5a;
  --border-regular-light: #ffffff4d;
  --border-dropdown: #787878;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-regular-light: #383838;
  }
}
