:root {
  --box-shadow-small: 0 3px 10px rgba(0, 0, 0, 0.8);
  --box-shadow-small1: 0 1px 10px rgba(0, 0, 0, 0.8);
  --box-shadow-medium: 0 8px 20px rgba(0, 0, 0, 0.8);
  --box-shadow-medium1: 0 5px 15px rgba(0, 0, 0, 0.8);
  --box-shadow-large: 0 15px 30px rgba(0, 0, 0, 0.8);
}
