:root {
  --text-color: #f4f4f4;
  --text-color-invert: #0f0f0f;
  --text-color-gray: #b3b3b3;
  --text-color-gray1: #d3d3d3;
  --text-label-color: #888;
  --text-button-disabled-color: #979797;
  --link-text-color: #0083cf;
  --link-text-color-hover: #008591;
  --text-danger-color: #ff3236;
  --text-placeholder-color: #ababab;
}
