:root {
  --dropdown-background-color: #121212;
  --dropdown-select-background-color: #080808;
  --dropdown-selected-background-color: #303030;
  --dropdown-hover-background-color: #202020;
  --dropdown-border-color: #606060;
}

/* html.dark {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */

.el-dropdown {
  &:has(.ant-btn[aria-expanded='true']) {
    .ant-btn {
      border-color: var(--btn-primary-color) !important;
      outline: var(--btn-focused-outline) !important;
    }
  }
}

.dropdown-viewmore {
  &.el-dropdown {
    &:has(.ant-btn[aria-expanded='true']) {
      opacity: 1;

      .ant-btn {
        opacity: 1 !important;
      }
    }
  }

  &.el-dropdown__popper {
    .el-dropdown-menu {
      padding: 0px;

      .el-dropdown-menu__item {
        position: relative;
        padding: 10px 20px;
        font-size: 1.45rem;
        max-height: 42px;

        span,
        a {
          color: inherit;
        }

        .social-share {
          a {
            &::before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }

      .main-action {
        padding: 3px 0px;
      }

      .separate {
        border-top: 1px solid var(--dropdown-border-color);
      }

      .danger-zone {
        padding: 3px 0px;

        .el-dropdown-menu__item {
          &.remove-item {
            color: var(--text-danger-color);

            svg {
              fill: var(--text-danger-color);
            }

            span {
              color: var(--text-danger-color);
            }
          }
        }
      }
    }
  }

  &.ant-dropdown {
    display: inline-flex;
    position: relative !important;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;

    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        padding: 10px 20px;
        font-size: 1.45rem;
        max-height: 42px;

        span,
        a {
          color: inherit;
        }
      }

      .main-action {
        padding: 7px 0px;
      }

      hr {
        border-top: 1px solid #7e7e7e00;
      }

      .danger-zone {
        padding: 7px 0px;

        .ant-dropdown-menu-item {
          &.remove-item {
            color: var(--text-danger-color);

            span,
            a {
              color: var(--text-danger-color);
            }
          }
        }
      }
    }
  }
}
