:root {
  --input-background-color-disabled: #353535;
  --input-border-color: #545454;
  --input-border-color-focused: #0080ca;
  --input-border-color-hover: #0080ca;
  --input-border-color-error: #ff4d4f;
}

input {
  color: inherit;
}
