:root {
  --input-background-color-disabled: #353535;
  --input-border-color: #545454;
  --input-border-color-focused: #0080ca;
  --input-border-color-hover: #0080ca;
  --input-border-color-error: #ff4d4f;
}

input,
textarea {
  color: inherit;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-placeholder-color);
    opacity: 1; /* Firefox */
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-placeholder-color);
  }
}
