:root {
  --loading-background: #080808;

  --loading-app-color: #0080ca;
  --loading-spinner-color: #fff;

  --loading-progress-bar1: #1cb5e0;
  --loading-progress-bar2: #00dc82;
  --loading-progress-bar3: #1cb5e0;
}

.nuxt-loading-indicator {
  height: 3px !important;
}
