:root {
  --loading-mask: rgba(0, 0, 0, 0.6);

  --loading-app-color: #0080ca;
  --loading-spinner-color: #fff;

  --loading-progress-bar1: #003984;
  --loading-progress-bar2: #1cb5e0;

  --loading-spinner-color: #303030;
}

.nuxt-loading-indicator {
  height: 3px !important;
}

html.dark {
  --loading-spinner-color: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --loading-spinner-color: #ebebeb;
  }
}
