:root {
  --loading-mask: rgba(0, 0, 0, 0.6);

  --loading-app-color: var(--color-primary-700);
  --loading-spinner-color: #fff;

  --loading-progress-bar1: var(--color-primary-900);
  --loading-progress-bar2: var(--color-primary-400);

  --loading-spinner-color: #303030;
}

.nuxt-loading-indicator {
  height: 3px !important;
}

html.dark {
  --loading-spinner-color: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --loading-spinner-color: #ebebeb;
  }
}
