$error-image: 'https://ik.imagekit.io/8toa5f2rp/images/svg/error-image.svg';

.movie-card-item {
  position: relative;
  display: block;
  color: inherit !important;
  overflow: hidden;
  cursor: pointer;

  &.horizontal,
  &.vertical {
    .img-box {
      animation: movie-card-opacity-in 0.7s ease-in forwards;
    }

    &:hover {
      .img-box {
        img {
          animation: card-movie-hover 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28)
            forwards;
        }
      }
    }
  }

  .el-skeleton__item .el-skeleton__text {
    padding: 7px 0px;
  }

  .img-box {
    img {
      width: 100%;
      height: 100%;
      background-color: var(--background-content-color2);
      object-fit: cover;
      transition: all 0.15s;

      &[lazy='loading'] {
      }

      &[lazy='error'] {
        // width: 30% !important;
        // margin: 0px auto;
        // object-fit: contain !important;
        background-image: url($server-image + '/images/svg/error-image.svg');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: background-position 0s !important;
      }
    }
  }

  .duration-episode-wrapper {
    .duration-episode {
      // font-size: 1.3rem;
      font-size: 0.7vw;
    }
  }

  .release-date-wrapper {
    .release-date {
      // font-size: 1.3rem;
      font-size: 0.7vw;
    }
  }

  .info {
    display: flex;
    color: inherit;
    font-size: 0.9vw;

    .title,
    .genres {
      position: relative;
      z-index: 1;
      transition: color 0.25s;
    }

    .title,
    .genres,
    .original-title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // .genres {
    //   .genre-item {
    //     padding-right: 0.4vw;

    //     &:not(:first-child) {
    //       &::before {
    //         content: '\2022';
    //         // color: #d0d0d0;
    //         color: inherit;
    //         display: inline-block;
    //         padding-right: 0.4vw;
    //       }
    //     }
    //   }
    // }
  }

  &:hover {
    .img-box {
      img {
        // transform: scale(1.1);
        // opacity: 0.7;
      }
    }

    .duration-episode-box {
      background-size: 200% 100%;
      // background-position: -50px center;
      background-position: 100% center;
    }

    .release-date-box {
      background-size: 200% 100%;
      // background-position: -45px center;
      background-position: 100% center;
    }

    .info {
      .title {
        color: #fff;
      }
    }
  }
}

@keyframes movie-card-opacity-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes card-movie-hover {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1500px) {
  .movie-card-item {
    .duration-episode-wrapper {
      .duration-episode {
        font-size: 1.3rem;
      }
    }

    .release-date-wrapper {
      .release-date {
        font-size: 1.3rem;
      }
    }

    .info {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .movie-card-item {
    .info {
      font-size: 1.5rem;
    }
  }
}
