:root {
  --header-height: 65px;
  --header-home-height: 60px;

  --search-height: 40px;

  --menu-item-height: 47px;

  --sider-width: 220px;
  --sider-collapsed-width: 75px;

  --drawer-width: 240px;

  --min-width-app: 800px;
  --max-width-app: 2200px;

  --max-width-collapsed-sider: 900px;
  --max-width-center-page: 1024px;
  --max-width-change-page: 500px;

  --card-movie-gap: 0.35vw;
  --card-movie-vertical-gap: 15px;

  --line-height-regular: 1.5;
  --button-line-height: 1.5714285714285714;
}
