.pin-otp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  min-width: 100%;

  input {
    position: relative;
    display: flex;
    text-align: center;
    min-width: 0;
    height: 60px;
    padding: 35px 0px;
    font-size: 4.5rem;
    outline: none;
    background-color: #575757 !important;
    border: 1px solid transparent;
    border-bottom-color: #fff;
    color: var(--text-color) !important;
    transition: all 0.15s;
    font-weight: 500;
    box-shadow: var(--box-shadow-small1);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      appearance: none;
    }

    &:focus {
      border: 1px solid var(--app-background-color);
      transform: translateY(-2px);
      box-shadow: 0 1px 10px var(--app-background-color);
    }
  }
}
