svg.close {
  position: absolute;
  padding: 5px;
  font-size: 4rem;
  width: 3.8rem;
  height: 3.8rem;
  top: 10px;
  right: 10px;
  background-color: #07070785;
  /* filter: drop-shadow(2px 2px 2px #000); */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s;

  &.transparent {
    background-color: transparent;
  }
}
