.progress-history {
  display: inline;
  margin: 0px;
  // overflow: hidden;
  color: inherit;

  .ant-progress-inner {
    /* height: 80px !important;
    width: 80px !important; */
    background-color: #3535358a;

    .ant-progress-bg {
      height: 5px !important;
      background-image: linear-gradient(
        to right,
        var(--app-background-color),
        var(--loading-progress-bar2)
      ) !important;
      /* transition: width 0.3s; */
    }
  }

  .ant-progress-text {
    font-size: 1.4rem;
    color: inherit;

    &:has(.success) {
      white-space: normal;
      color: #008049;
    }

    /* & > span {
      font-size: 1.3rem;
    } */
  }
}
