.el-icon {
  width: auto;
  height: auto;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.el-overlay-dialog {
  padding: 20px 0px;
}

.el-message-box-parent--hidden {
  width: 100% !important;
}

.rc-virtual-list-scrollbar {
  display: none;
}

.el-skeleton.is-animated {
  // --el-skeleton-color: #f0f2f5 !important;
  // --el-skeleton-to-color: #e6e8eb !important;

  --el-skeleton-color: #353535 !important;
  --el-skeleton-to-color: #282828 !important;

  .el-skeleton__item {
    animation-duration: 2s !important;

    &.el-skeleton__image {
      position: relative;

      svg {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30%;
        height: 30%;
        color: #898989;
        opacity: 0.7;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.el-image__wrapper,
.el-image__error {
  color: inherit;
  background-color: #3a3a3a !important;

  .el-image__placeholder {
    background-color: var(--background-content-color) !important;
  }
}

.el-select {
  border: 1px solid var(--border-dropdown);

  .el-input__wrapper {
    &.is-focus {
      box-shadow: none !important;
    }
  }

  .el-input {
    .el-input__wrapper {
      box-shadow: none !important;
      border-radius: 0px;
    }

    &.is-focus {
      .el-input__wrapper {
        // box-shadow: 0 0 0 1px #fff !important;

        &.is-focus {
          box-shadow: 0 0 0 1px #a0a0a0 !important;
        }
      }
    }
  }

  .el-input__wrapper {
    box-shadow: none;
    color: inherit;
  }
}

.el-select-dropdown {
  border-radius: 2px !important;
  // border: 0.1px solid var(--border-regular-light);
}

.el-overlay {
  font-weight: unset;
}

.el-popup-parent--hidden {
  // overflow: visible !important;

  .header-bar,
  .header-bar-service,
  .header-bar-auth {
    width: calc(100% - 14px);
  }
}

.el-menu {
  --el-menu-item-height: var(--menu-item-height) !important;
  --el-menu-sub-item-height: var(--menu-item-height) !important;

  .el-menu-item {
    a {
      color: var(--menu-text-color);
    }
  }

  .el-sub-menu {
    .el-sub-menu__title {
      color: var(--menu-text-color);
    }
  }
}

.el-dropdown {
  color: inherit !important;
  font-size: inherit !important;
}

.el-dropdown__popper {
  border-radius: 1px !important;
  transition: height 0s !important;
  box-shadow: var(--box-shadow-small) !important;

  .el-dropdown-menu {
    background-color: var(--background-dropdown-color);
    border-radius: 0px;

    .el-dropdown-menu__item {
      padding: 13px 20px;
      font-size: 1.5rem;
      color: inherit !important;
      transition: all 0.1s;

      a {
        color: inherit !important;
      }

      &:hover {
        background-color: var(--hover-dropdown-color);
      }
    }

    .el-dropdown-menu__item:not(.is-disabled):focus {
      background-color: var(--hover-dropdown-color);
    }
  }
}

.el-popper,
.el-popper.is-dark {
  border-radius: 1px;
  background-color: var(--background-dropdown-color) !important;
  font-size: 1.2rem;
  line-height: inherit;

  .el-popper__arrow {
    &::before {
      background-color: #191919 !important;
    }
  }
}

#el-popper-container-1024 {
  .el-popper {
    border-radius: 1px;
    background-color: var(--background-dropdown-color);

    a {
      color: inherit;
    }

    &.el-dropdown__popper {
      border: none;
      border-radius: 1px;
      transition: height 0s;

      .el-dropdown-menu {
        background-color: var(--background-dropdown-color);

        .el-dropdown-menu__item {
          padding: 13px 20px;
          font-size: 1.5rem;
          color: inherit !important;
          transition: all 0.1s;

          a {
            color: inherit !important;
          }

          &:hover {
            background-color: var(--hover-dropdown-color);
          }
        }
      }
    }

    .el-popper__arrow {
      &::before {
        background-color: #191919 !important;
      }
    }

    &.popper-tooltip {
      .el-popper__arrow {
        &::before {
          background-color: #242424 !important;
        }
      }
    }

    &:not(.popper-tooltip, .el-popover) {
      .el-popper__arrow {
        display: none;
      }
    }
  }

  .el-menu--popup-container.sub-menu-popper {
    // max-height: 100vh;
    max-height: 99.4vh;
    overflow-y: auto;

    .el-menu.el-menu--popup {
      --el-menu-hover-bg-color: var(--menu-item-background-color) !important;
      --el-menu-item-height: var(--menu-item-height) !important;
      --el-menu-sub-item-height: var(--menu-item-height) !important;

      .el-menu-item {
        a {
          color: var(--menu-text-color);
        }

        &:hover {
          a {
            color: var(--menu-active-text-color);
          }
        }
      }
    }
  }

  .el-popover.popper-search {
    border-radius: 1px;
    background-color: var(--background-dropdown-color);
  }
}

.el-popper.popper-tooltip {
  background-color: var(--tooltip-background-color) !important;
  border: none !important;
  // padding: 10px 18px;
  padding: 7px 15px;
  box-shadow: var(--box-shadow-small);
  width: max-content;
  max-width: 250px;
  transition: opacity 0.15s ease-in-out;
  border-radius: 2px;

  & > span {
    font-size: 1.2rem;
  }

  .el-popper__arrow {
    &::before {
      width: 8px;
      height: 8px;
      border: none !important;
      background-color: #242424 !important;
    }
  }
}

.el-message--success {
  --el-message-bg-color: var(--background-content-color1) !important;
  box-shadow: var(--box-shadow-medium) !important;
}

.el-notification {
  background-color: var(--background-content-color1) !important;
  border: none !important;
  box-shadow: var(--box-shadow-medium) !important;
  border-radius: 5px !important;

  .el-notification__group {
    .el-notification__title {
      color: inherit;
    }

    .el-notification__content {
      text-align: left;
      color: #adadad;
    }
  }
}

.el-dialog {
  background-color: var(--background-content-color1);

  .el-dialog__body {
    color: inherit;
  }
}

.el-loading-mask {
  .el-loading-spinner {
    margin-top: 0px;
    transform: translateY(-50%);
    user-select: none;

    svg.circular {
      height: 35px;
      width: 35px;
    }

    svg .path {
      stroke: var(--loading-app-color);
    }

    .el-loading-text {
      font-size: 1.4rem;
      margin: 0px;
      stroke: var(--loading-app-color);
    }
  }
}

.el-tabs {
  .el-tabs__header {
    .el-tabs__nav-wrap {
      &::after {
        height: 1.5px;
        background-color: var(--border-regular);
      }
    }

    .el-tabs__nav {
      .el-tabs__item {
        color: inherit;
        font-weight: 600;
        transition-duration: 0.15s;

        &.is-active {
          color: var(--app-background-color);
        }
      }

      .el-tabs__active-bar {
        height: 1.5px;
        transition: all 0.15s;
        background-color: var(--app-background-color);
      }
    }
  }
}

.el-slider {
  --el-slider-main-bg-color: var(--app-background-color) !important;

  .el-slider__runway {
    .el-slider__button-wrapper {
      cursor: pointer;

      &:hover,
      &.hover {
      }

      .el-slider__button {
        // border: none;
        cursor: pointer;

        &:hover,
        &.hover,
        &.dragging {
          transform: none;
        }
      }
    }
  }
}
