.ant-drawer:has(.menu-drawer),
.ant-drawer.menu-drawer {
  // margin-top: var(--header-height);

  .ant-drawer-content-wrapper {
    transition: all 0.15s ease;

    .ant-drawer-content,
    .ant-drawer-content.menu-drawer {
      background-color: var(--background-content-color);

      .ant-drawer-header {
        background-color: transparent;
        height: var(--header-height);
        justify-content: start;
        border: none;
        color: inherit;
        padding-left: 21px;

        .ant-drawer-header-title {
          .ant-drawer-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            line-height: normal;

            svg.close {
              font-size: 2.7rem;
              cursor: pointer;
              transition: 0.15s;
              width: 2.7rem;
              height: 2.7rem;

              &:active {
                opacity: 0.8;
              }
            }

            .logo {
              a {
                font-size: 2.5rem;
              }
            }
          }
        }
      }

      .ant-drawer-body {
        padding: 0px 0px 24px 0px;
        overflow-y: scroll;
        overflow-x: hidden;

        header.user-header {
          display: flex;
          align-items: center;
          justify-content: center;
          height: var(--header-height);
          gap: 10px;
          border-bottom: 1px solid var(--border-regular-light);
          color: inherit;
          font-size: 1.5rem;

          .avatar-box {
            display: flex;
            align-items: center;
            justify-self: center;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .user-name-text {
          }
        }

        &::-webkit-scrollbar {
          // display: none;
          width: 12px;
        }

        &::-webkit-scrollbar-thumb {
          // display: none;
        }
      }
    }
  }
}

.el-drawer.menu-drawer {
  width: var(--drawer-width);
  background-color: var(--background-content-color);
  transition: all 0.15s ease;

  .el-drawer__header {
    background-color: transparent;
    height: var(--header-height);
    justify-content: start;
    border: none;
    color: inherit;
    padding: 0px;
    padding-left: 21px;
    margin-bottom: 0px;

    .drawer-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      svg.close {
        font-size: 2.7rem;
        cursor: pointer;
        transition: 0.15s;
        width: 2.7rem;
        height: 2.7rem;

        &:active {
          opacity: 0.8;
        }
      }

      .logo {
        font-size: 1.3rem;
      }
    }
  }

  header.user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 20px;
    height: var(--header-height);
    line-height: 65px;
    border-bottom: 0.25px solid var(--border-regular);

    .avatar-box {
      display: flex;
      align-items: center;
      justify-self: center;
      margin-right: 10px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .user-name-text {
    }
  }

  .el-drawer__close-btn {
    font-size: 2.8rem;
  }

  .el-drawer__body {
    padding: 0px 0px 24px 0px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      // display: none;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      // display: none;
    }
  }
}

// @media only screen and (min-width: 900px) {
//   .el-overlay:has(.el-drawer) {
//     display: none;
//   }

//   .el-drawer {
//     display: none;
//   }
// }
