.like-dislike-comment {
  display: flex;
  flex-direction: row;
  gap: 13px;

  .like,
  .dislike {
    display: flex;
    flex-direction: row;
    align-items: center;

    .total {
      line-height: normal;
      color: var(--text-color);
      margin-left: 5px;
      font-size: 1.4rem;
    }
  }

  &.active {
  }

  svg {
    font-size: 2rem;
    transition: all 0.15s;
    fill: var(--text-color);
    cursor: pointer;

    &:active {
      opacity: 0.8;
    }
  }

  .anticon + .anticon {
    margin-left: 13px;
    font-size: 2rem;
  }

  .anticon {
    transition: all 0.15s;

    svg {
      font-size: 1.9rem;
    }
  }
}
