.ranks {
  height: 100%;

  --padding-rank-section: 10px 15px;

  .ranks-container {
    height: 100%;

    a {
      color: inherit;
      transition: color 0s;
      transition: opacity 0.15s;

      &:hover {
        color: var(--app-background-color);
      }
    }

    .ranks-header {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 30px;

      .left {
        .ranks-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 20px 0px;
          padding-right: 40px;
          font-size: 2.5rem;
          border-right: 1px solid var(--border-regular);
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        .rank-type {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          .rank-type-item {
            display: flex;
            white-space: nowrap;

            a {
              padding: 10px 30px;
              font-size: 1.7rem;
              font-weight: 500;

              &:hover {
                color: var(--app-background-color);
              }
            }

            &.active {
              color: var(--app-background-color);
            }
          }
        }

        .rank-sortBy {
        }
      }
    }

    .ranks-body {
      .rank-section.all {
      }

      .rank-section-list {
        display: flex;
        justify-content: center;
        gap: var(--rank-section-gap);
        flex-wrap: wrap;
        margin-top: 50px;

        --rank-section-gap: 15px;

        .rank-section {
          width: calc((100% - (2 * var(--rank-section-gap))) / 3);

          .rank-section-header {
            .rank-section-title {
            }
          }

          .rank-section-body {
            .rank-body-list {
              .rank-body-item {
              }
            }
          }
        }
      }
    }

    .loading-spinner.loading-page {
      height: 70%;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .ranks {
  }
}
