header.header-bar-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, #000 0, #00000000 100%);

  .left-header {
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 2.25rem;
      }
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;

    .login-btn {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--app-background-color) !important;
      user-select: none;
      transition: all 0.15s;
    }

    .signup-suggest {
      .signup-note {
        align-self: flex-end;
        white-space: nowrap;
        font-size: 1.3rem;
        margin-right: 5px;
        cursor: default;
      }

      .signup-btn {
        display: inline-flex;
        align-items: center;
        background-color: var(--app-background-color);
        color: inherit !important;
        padding: 7px 15px;
        border-radius: 25px;
        font-size: 1.45rem;
        line-height: normal;
        text-align: center;
        transition: background-color 0.15s;
        user-select: none;

        &:hover {
          background-color: var(--app-background-color8);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  header.header-bar-auth {
    padding: 0px 20px;

    .right-header {
      .login-btn {
        font-size: 1.6rem;
      }

      .signup-suggest {
        .signup-btn {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  header.header-bar-auth {
    .left-header {
      .logo {
        a {
          font-size: 2.1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  header.header-bar-auth {
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 450px) {
  header.header-bar-auth {
    .right-header {
      .signup-suggest {
        .signup-note {
          display: block;
          margin-right: 0px;
        }
      }
    }
  }
}
