@import './transitions.scss';

.app-wrapper {
  overflow: visible;

  & > .body-content,
  & > [class*='body-content'],
  & > [class^='body-content'],
  & > [class|='body-content'] {
    position: relative;
    min-height: calc(100vh - var(--header-height));
  }

  .body-wrapper {
    display: flex;
    position: relative;
    max-width: var(--max-width-app);
    /* min-width: var(--min-width-app); */
    margin: 0px auto;

    main.main-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 0;
      width: 100%;

      & > .container {
        position: relative;
        min-height: calc(100vh - 50px - var(--header-height));
        padding-bottom: 50px;
      }
    }
  }

  .app-back-top {
    align-items: center;
    justify-content: center;
    bottom: 30px !important;
    right: 20px !important;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #080808da !important;
    /* background-color: var(--background-content-color); */
    color: var(--text-color);
    box-shadow: var(--box-shadow-small) !important;
    border: 1px solid var(--border-regular);
    transition: all 0.15s;
    user-select: none;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      svg {
        color: var(--app-background-color);
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .app-wrapper {
    .app-back-top {
      height: 42px;
      width: 42px;
      bottom: 30px;
      right: 20px;
      font-size: 1.8rem;

      svg {
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .app-wrapper {
    .app-back-top {
      bottom: 20px;
      right: 15px;
    }
  }
}

.padding-content {
  padding: 15px 20px;

  &.horizontal {
    padding: 0px 20px;
  }
}

.center-page {
  max-width: var(--max-width-center-page);
  margin: 0px auto;
}

.change-page {
  max-width: var(--max-width-change-page);
}

.center-page,
.change-page {
  margin: 0px auto;

  .back-page-btn {
    display: inline-block;
    font-size: inherit;
    color: inherit;

    svg {
      margin-right: 7px;
      width: 2.2rem;
      height: 2.2rem;
    }

    a {
      font-size: 1.8rem;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 900px) {
  .app-wrapper {
    .body-wrapper {
      main.main-content {
        & + .container {
          padding-bottom: 30px;
        }
      }
    }
  }

  .padding-content {
    padding: 15px;

    &.horizontal {
      padding: 0px 15px;
    }
  }

  .movie-group {
    --card-movie-gap: 3px;
  }
}
