.app-wrapper {
  overflow: hidden;

  .body-wrapper {
    .main-content {
      & > .container {
        min-height: calc(100vh - 50px - var(--header-height));
      }
    }
  }

  .app-back-top {
    align-items: center;
    justify-content: center;
    bottom: 30px !important;
    right: 20px !important;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #080808da !important;
    // background-color: var(--background-content-color);
    color: var(--text-color);
    box-shadow: var(--box-shadow-small) !important;
    border: 1px solid var(--border-regular);
    // border: none;
    transition: all 0.15s;
    user-select: none;

    svg {
      font-size: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      svg {
        color: var(--app-background-color);
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .app-wrapper {
    .app-back-top {
      height: 42px;
      width: 42px;
      bottom: 30px;
      right: 20px;
      font-size: 1.8rem;

      svg {
        font-size: 2.3rem;
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .app-wrapper {
    .app-back-top {
      bottom: 20px;
      right: 15px;
    }
  }
}

.padding-content {
  padding: 15px 20px;

  &.horizontal {
    padding: 0px 20px;
  }
}

.center-page {
  max-width: var(--max-width-center-page);
  margin: 0px auto;
}

body:has(.center-page, .change-page) {
  footer.footer {
    .footer-container {
      max-width: var(--max-width-center-page);
      margin: 0px auto;
    }
  }
}

.change-page {
  max-width: var(--max-width-change-page);
  margin: 0px auto;

  .back-page-btn {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-bottom: 10px;
    font-size: inherit;

    svg {
      margin-right: 3px;
      width: 2.2rem;
      height: 2.2rem;
    }

    a {
      font-size: 1.8rem;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 900px) {
  .padding-content {
    padding: 15px;

    &.horizontal {
      padding: 0px 15px;
    }
  }

  .movie-group {
    --card-movi-gap: 3px;
  }
}

// Page transition

::view-transition-old(root),
::view-transition-new(root) {
  // animation-duration: 1s;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: all 0.2s;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translateX(50px);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.slide-top-enter-from {
  opacity: 0;
  transform: translateY(50px);
}

.slide-top-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-bottom-enter-from {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
