.auth-layout {
  overflow: hidden;

  .background-auth {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    user-select: none;

    .image-auth {
      height: 100%;
      width: 100%;
    }

    .image-auth.responsive {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      opacity: 0.75;
    }
  }
}

@media only screen and (max-width: 500px) {
  .auth-layout {
    .background-auth {
      /* .image-auth.desktop {
        // display: none;
      } */

      .image-auth.responsive {
        display: block;
      }
    }
  }
}
