.default-layout {
  .body-content {
    margin-top: var(--header-height);

    .body-wrapper {
      main.main-content {
        margin-left: var(--sider-width);

        /* & > .container {
        } */
      }
    }

    &.expand,
    &.fixed {
      .body-wrapper {
        main.main-content {
          margin-left: var(--sider-collapsed-width);
        }
      }

      .discover-head.fixed {
        .discover-head-wrapper {
          left: var(--sider-collapsed-width);
        }

        .filter-swiper {
          width: calc(100vw - var(--sider-collapsed-width) - 30px);
        }
      }
    }

    &.play {
      .body-wrapper {
        min-width: var(--min-width-play);

        main.main-content {
          & > .container {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }

      &.expand {
        .body-wrapper {
          // max-width: var(--max-width-content);

          main.main-content {
            & > .container {
              padding-left: 40px;
              padding-right: 40px;
            }
          }
        }
      }
    }

    /* &.home */
    &:has(.home-page) {
      margin-top: 0px;
      min-height: calc(101vh - var(--header-height));

      .body-wrapper {
        max-width: 100%;

        main.main-content {
          margin-left: 0px;
        }
      }

      &.expand,
      &.fixed {
        main.main-content {
          margin-left: 0px;
        }
      }

      header.header-bar,
      .header-page-type-movie,
      .header-home-breadcrumb {
        transition-delay: initial;
        transition: all 0s;

        /* .ant-input-search.search-header {
          // --search-border-color: transparent;
        } */

        &.scrolled {
          transition: background-color 0.2s ease;
        }
      }

      .ant-layout-sider.sider-bar {
      }

      .home-page {
        .home-content {
          margin-left: var(--sider-width);
        }
      }

      .billboard-item {
        .billboard-item-body {
          left: calc(var(--sider-width) + var(--padding-home));
        }
      }

      footer.footer {
        margin-left: var(--sider-width);
      }

      &.expand {
        .ant-layout-sider.sider-bar {
          &.open-fixed {
            &::before {
              width: var(--sider-width);
            }
          }

          &::before {
            width: var(--sider-collapsed-width);
          }
        }

        .home-page {
          .home-content {
            margin-left: var(--sider-collapsed-width);
          }
        }

        .billboard-item {
          .billboard-item-body {
            left: calc(var(--sider-collapsed-width) + var(--padding-home));
          }
        }

        footer.footer {
          margin-left: var(--sider-collapsed-width);
        }
      }
    }
  }
}

body:has(.body-content.play) {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    // background-color: transparent;
  }
}

body:has(.service-page, .change-page, .center-page) {
  background-color: var(--background-content-white);

  .default-layout {
    .body-content {
      --sider-width: 0px;
      --sider-collapsed-width: 0px;
    }

    .body-wrapper {
      color: var(--text-color-black);

      main.main-content {
        margin-left: 0px;
      }
    }

    .ant-layout-sider.sider-bar {
      border: none;
      overflow: hidden;
    }

    header.header-bar {
      background: var(--background-content-color);

      .left-header {
        .menu-btn {
          display: flex;
        }
      }
    }

    footer.footer {
      .footer-container {
        max-width: var(--max-width-app);
        margin: 0px auto;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .default-layout {
    .body-content {
      &.play {
        .body-wrapper {
          main.main-content {
            & > .container {
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }

        &.expand {
          .body-wrapper {
            main.main-content {
              & > .container {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .default-layout {
    .body-content {
      &.play {
        .body-wrapper {
          main.main-content {
            & > .container {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }

        &.expand {
          .body-wrapper {
            main.main-content {
              & > .container {
                padding-left: 5px;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .default-layout {
    .body-content {
      --sider-width: 0px;
      --sider-collapsed-width: 0px;
      margin-left: 0px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .default-layout {
    .body-content {
      margin-top: var(--header-height) !important;
    }
  }
}
