.body-content-service {
  background-color: #fff;

  .body-wrapper {
    --text-color-gray: #6f6f6f;
    --text-color-gray1: #4d4d4d;
    color: var(--text-color-invert);

    .anticon {
      svg {
        fill: var(--text-color-invert);
      }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: var(--text-color-invert);

      &.submit-btn {
        color: var(--text-color);
      }
    }
  }

  main.main-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 0;

    & > .container {
      position: relative;
      padding-bottom: 50px;
      height: 100%;
    }

    footer.footer {
      .footer-container {
        max-width: var(--max-width-center-page);
        margin: 0px auto;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ant-layout-content.container {
    // background-color: var(--background-content-color);
  }
}

@media only screen and (max-width: 900px) {
  .body-content-service {
    main.main-content {
      & + .container {
        // padding: 15px 15px;
        padding-bottom: 30px;
      }
    }
  }
}
