.body-content-service {
  background-color: #fff;
  margin-top: var(--header-height);

  .body-wrapper {
    color: var(--text-color-invert);

    --text-color-gray: #6f6f6f;
    --text-color-gray1: #4d4d4d;

    .anticon {
      svg {
        fill: var(--text-color-invert);
      }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: var(--text-color-invert);

      &.submit-btn {
        color: var(--text-color);
      }
    }
  }

  main.main-content {
    & > .container {
    }

    footer.footer {
      .footer-container {
        max-width: var(--max-width-center-page);
        margin: 0px auto;
      }
    }
  }
}
