.movie-rank-item {
  display: flex;
  position: relative;
  padding: 10px 5px 10px 10px;
  transition: all 0.25s;
  gap: 10px;

  .el-skeleton.is-animated {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
    transition: all 0.3s;

    .img-box {
      position: relative;
      display: flex;
      max-width: 100px;

      .el-skeleton__item.skeleton-img {
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
    }

    .content-skeleton {
      flex-grow: 1;

      .el-skeleton__item.el-skeleton__text {
        height: 10px;
      }
    }
  }

  .img-box {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 2px;
    width: 100px;
    flex: 1 0 100px;

    .img-wrapper {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--background-content-color);
        transition: all 0.3s;

        &[lazy='error'] {
          /* width: auto;
          margin: 0px auto; */
          background-image: url($server-image + '/images/svg/error-image.svg');
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          transition: background-position 0s;
        }
      }
    }
  }

  .info {
    font-size: 1.4rem;
    color: var(--text-color-gray);
    width: 100%;

    .top {
      .title {
        font-size: 1.6rem;
        color: #fff;
      }
    }

    .bottom {
      color: var(--text-color-gray);

      display: flex;
      margin-top: 14px;
      margin-right: 5px;
      justify-content: flex-end;
      .views {
        font-size: 1.3rem;
      }
    }
  }

  &:hover {
    background-color: var(--background-content-color1);

    /* .info {
      // color: #fff;
    } */
  }
}

.movie-rank-item + .movie-rank-item {
  border-top: 1px solid var(--border-regular);

  /* &:last-child {
    // border-bottom: 1px solid var(--border-regular);
  } */
}
