.body-content {
  &.expand {
    .ant-layout-sider.sider-bar {
      // left: var(--sider-collapsed-width);
      // width: var(--sider-collapsed-width) !important;
    }
  }
}

.ant-layout-sider.sider-bar {
  position: fixed;
  left: 0;
  top: var(--header-height);
  bottom: 0;
  // border-right: 1px solid var(--border-regular-light);
  background: linear-gradient(
    to right,
    var(--background-content-color) 0,
    #08080850 70%,
    #08080800 100%
  );
  // background: transparent;
  z-index: 10;
  transition: all 0s;

  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    // border: none;
    background-color: transparent;
  }

  &.ant-layout-sider-collapsed {
    // border: none;

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &.open-fixed {
    flex: 0 0 var(--sider-width) !important;
    max-width: var(--sider-width) !important;
    min-width: var(--sider-width) !important;
    width: var(--sider-width) !important;
    background: var(--background-content-color);

    .ant-layout-sider-trigger {
      width: var(--sider-width) !important;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
      display: block;
    }
  }

  &.ant-layout-sider-has-trigger {
    padding-bottom: calc(var(--header-height) - 15px);
  }

  &:hover {
    ::-webkit-scrollbar-thumb {
      background-color: #7e7e7e;

      &:active {
        background-color: #686868d2;
      }
    }
  }

  &.scrolled {
    header.sider-header {
      background-color: var(--background-content-color);
    }
  }

  header.sider-header {
    position: sticky;
    top: 0;
    z-index: 2;
    height: var(--header-height);
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    background-color: transparent;
    // border-bottom: 1px solid var(--border-regular-light);
    padding: 0px;

    .user-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .avatar-box {
        display: flex;
        align-items: center;
        justify-self: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-name-text {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        // margin-left: 12px;
        background-image: linear-gradient(
          to right,
          var(--app-background-color3),
          var(--app-background-color2)
        );
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          line-height: normal;
        }
      }
    }
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // overflow-y: scroll;
    // overflow-x: hidden;

    .menu-sider-bar {
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .ant-layout-sider-trigger {
    background: transparent;
    line-height: inherit;
    height: auto;
    overflow: hidden;
    transition: all 0s;
  }

  footer.sider-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: calc(var(--header-height) - 15px);
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: 0px;
    // background-color: var(--background-content-color);
    // border-top: 1px solid var(--border-regular-light);
    // border-right: 1px solid var(--border-regular-light);
    color: inherit;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.15s;

    .trigger-collapse {
      white-space: nowrap;
      padding-left: 24px;
      display: flex;
      align-items: center;
      transition: all 0.15s;

      &.collapsed {
        .title-trigger-collapse {
          &.collapsed {
            opacity: 1;
          }

          &.open {
            opacity: 1;
          }
        }
      }

      .title-trigger-collapse {
        margin-left: 13px;
        font-size: 1.45rem;
        user-select: none;
        transition: all 0s;

        &.collapsed {
          opacity: 1;
        }

        &.open {
          opacity: 0;
        }
      }

      svg {
        font-size: 1.6rem;
        height: 2rem;
        width: 2rem;

        &.icon {
          width: auto;
          height: auto;
          font-size: 2.2rem;
        }
      }
    }

    &:active {
      .trigger-collapse {
        opacity: 0.8;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .ant-layout-sider.sider-bar {
    --sider-width: 0px;
    --sider-collapsed-width: 0px;
    border: none;
    overflow: hidden;

    .ant-layout-footer {
      .trigger-collapse {
        .title-trigger-collapse {
          font-size: 1.4rem;
        }
      }
    }
  }
}
