.back-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &.fixed {
    position: fixed;
    z-index: 2;
    /* top: var(--header-height); */

    .ant-btn {
      background-color: transparent;
    }
  }

  .ant-btn {
    padding: 7px 10px;
    padding-left: 5px;
    cursor: pointer;
    transition: opacity 0.15s;

    svg {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 7px;
    }

    &.align-left {
      padding-left: 0px;

      svg {
        margin-left: -5px;
      }
    }

    &:active {
      opacity: 0.8;
    }

    /*  &:hover {
      // box-shadow: var(--box-shadow-small);
    } */
  }
}
