.detail-invoice-page {
  .center-page {
    /* max-width: var(--max-width-center-page); */
    max-width: 900px;
    margin: 0px auto;
  }

  .detail-invoice-page-container {
    padding-top: 10px;

    .back-page-btn {
      margin-bottom: 20px;
    }

    .detail-invoice-page-header {
      margin-bottom: 10px;
    }

    .detail-invoice-info-list {
      .detail-invoice-info-item {
        display: flex;
        padding: 15px 2px 15px 2px;
        border-bottom: 1px solid var(--border-regular);

        label {
          position: relative;
          display: inline-block;
          width: 250px;
          flex-shrink: 0;
          font-size: 1.8rem;
          color: var(--text-color-gray);
          cursor: default;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background-color: var(--border-regular);
          }
        }

        .detail-invoice-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          text-align: center;

          a.invoice-url {
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 150px;
            text-overflow: ellipsis;
          }
        }

        a.detail-invoice-info {
          transition: all 0.15s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
