.play-movie {
  position: relative;
  height: 100%;

  .play-container {
    .top-page {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      z-index: 2;

      .back-page {
        .ant-btn {
          // background-color: transparent;
          // box-shadow: none;
          // background: linear-gradient(
          //   0deg,
          //   var(--background-content-color) 0%,
          //   rgba(7, 7, 7, 0) 100%
          // );
        }
      }

      .progress-history {
        .ant-progress-text {
          // margin-left: 0px;
          font-size: 1.3rem;
        }
      }
    }

    .video {
      width: 100%;
      position: relative;

      .video-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;

        iframe {
        }
      }
    }

    .movie-content {
      position: relative;
      z-index: 1;
      padding-top: 10px;

      .main-content {
        display: flex;
        gap: 10vw;
        padding: 10px 0px;

        .detail-content-left {
          width: 65%;

          .movie-title {
            font-weight: 500;
          }

          .tags {
            margin-top: 10px;
          }

          .rating-movie {
            // margin-top: 10px;
            margin-top: 5px;
          }

          .action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 13px;

            .action-btn {
              min-height: 40px;
              height: 42px;
            }

            .left {
              display: flex;
              flex-direction: row;
              align-items: center;

              .ant-btn {
                &.add {
                  border-color: var(--border-regular);
                  background-color: rgba(55, 55, 55, 0.3);

                  svg {
                    margin-left: -5px;
                    font-size: 2.5rem;
                    width: 2.5rem;
                    height: 2.5rem;
                  }

                  &:hover {
                    border-color: var(--btn-border-color-hover);
                    background-color: rgba(97, 97, 97, 0.4);
                  }
                }
              }
            }

            .right {
              display: flex;
              align-items: center;

              .ant-btn {
                padding: 9px 13px;
              }

              svg {
                margin-right: 8px;
                font-size: 2.1rem;
                width: 2.1rem;
                height: 2.1rem;
              }
            }
          }
        }

        .detail-content-right {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 35%;

          .tags + .tags {
            // margin-top: 10px;
          }

          .tags {
            .tags-item {
              a {
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .related-content {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        z-index: 1;
        margin-top: 30px;

        & > .left {
          display: flex;
          flex-grow: 1;

          .comment {
            width: 100%;

            .comment-title {
              margin-top: 0px;
            }
          }
        }

        & > .right {
          width: 40%;
          max-width: 500px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .play-movie {
    .play-container {
      .movie-content {
        .main-content {
          gap: 70px;

          .detail-content-left {
            .action {
              .action-btn {
                height: 40px;
              }

              .left {
                .ant-btn {
                  font-size: 1.5rem;

                  svg {
                    margin-right: 7px;
                    font-size: 1.9rem;
                  }

                  &.add {
                    svg {
                      margin-left: -7px;
                      font-size: 2.3rem;
                    }
                  }
                }
              }

              .right {
                .ant-btn {
                  font-size: 1.5rem;

                  svg {
                    font-size: 2.1rem;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .play-movie {
    .play-container {
      .movie-content {
        .related-content {
          & > .right {
            width: 450px;
            max-width: 450px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .play-movie {
    .play-container {
      .movie-content {
        .main-content {
          .detail-content-left {
            .action {
              .left {
                .ant-btn {
                  padding: 7px 20px;
                }
              }

              .right {
                .ant-btn {
                  padding: 7px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .play-movie {
    .play-container {
      .movie-content {
        .related-content {
          flex-direction: column;

          & > .right {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .play-movie {
    .play-container {
      .movie-content {
        .main-content {
          flex-direction: column;
          justify-content: unset;
          gap: 20px;

          .detail-content-left {
            width: 100%;

            .action {
            }
          }

          .detail-content-right {
            align-items: flex-start;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .play-movie {
    .play-container {
      .top-page {
        flex-direction: column;
        gap: 5px;

        .back-page {
          align-self: flex-start;
        }
      }
    }
  }
}
