.el-skeleton.is-animated.loading-section-vertical {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: hidden;
  // background-color: var(--background-content-color);

  .img-box {
    display: flex;
    // height: 275px;
    width: 177px;
    flex-shrink: 0;

    .el-skeleton__item.skeleton-img {
      width: 100%;
    }
  }
}
