.el-skeleton.is-animated.loading-section-vertical {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  overflow: hidden;
  /* background-color: var(--background-content-color); */

  --gap: 0.4vw;

  .img-box {
    display: flex;
    flex-direction: column;
    width: calc((100% - (9 * var(--gap))) / 10);
    min-width: 177px;
    flex-shrink: 0;
    gap: 10px;

    .el-skeleton__item.skeleton-img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .el-skeleton.is-animated.loading-section-vertical {
    --gap: 8px;
  }
}
