// @import '@/assets/style/globalStyle/MovieCardItem.scss';

.movie-group.horizontal {
  gap: var(--card-movie-gap);

  .movie-card-item.horizontal {
    width: calc((100% - (4 * var(--card-movie-gap))) / 5);
  }
}

.body-content.expand {
  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (5 * var(--card-movie-gap))) / 6);
    }
  }
}

.movie-card-item {
  &.horizontal {
    overflow: visible;

    .el-skeleton.is-animated {
      position: relative;
      overflow: hidden;
      border-radius: 7px;

      .el-skeleton__item.skeleton-img {
        width: 100%;
        height: 100%;
      }

      .content-skeleton {
        margin-top: 7px;

        .el-skeleton__item.el-skeleton__text {
          // height: 18px;
        }
      }
    }

    .img-box {
      position: relative;
      display: flex;
      width: 100%;
      overflow: hidden;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: var(--background-content-color);
        transition: all 0.15s;

        &[lazy='error'] {
          // width: 30% !important;
          background-size: 30%;
        }
      }

      .video-preview {
        video {
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 2;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: 100%;
        z-index: 1;
        background-color: #3c3c3c59;
      }

      .lastest-episode {
      }

      .fade-card {
        // content: '';
        // position: absolute;
        // left: 0;
        // bottom: 0;
        // height: 30%;
        // width: 100%;
        // background-image: linear-gradient(
        //   0deg,
        //   var(--background-content-color) 0%,
        //   rgba(7, 7, 7, 0) 100%
        // );
        // opacity: 0.7;
        // z-index: 0;
      }
    }

    &.show-video {
      .img-box {
        .percent-viewed,
        .viewed-overlay-bar {
          display: none;
        }
      }
    }

    .info {
      position: relative;
      padding: 10px 8px;
      // padding: 10px 0px;
      width: 100%;

      .title-wrapper {
        width: 100%;

        .title {
          // max-width: 90%;
        }

        .original-title {
          margin-top: 3px;
          font-size: 0.85em;
          color: var(--text-color-gray);
          max-width: 90%;
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 7px;
        padding: 3px 8px;

        .release-date-wrapper {
          display: flex;

          .release-date {
            position: relative;
            font-size: 0.7vw;
            z-index: 1;
            font-weight: 500;
          }
        }

        .vote-average {
          position: relative;
          display: none;
          font-size: 1.6rem;
          font-weight: 500;
          z-index: 1;
          transition: font-size 0s;
        }
      }

      // &::before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   height: 100%;
      //   width: 100%;
      //   background-image: linear-gradient(
      //     0deg,
      //     var(--background-content-color) 0%,
      //     rgba(7, 7, 7, 0) 100%
      //   );
      //   opacity: 0.7;
      // }
    }

    &:hover {
      .img-box {
        // border-radius: 0px;

        img {
          // opacity: 0.7;
        }
      }

      .info {
        background-color: rgba(var(--dominant-backdrop-color, (8, 8, 8)), 0.6);
        box-shadow: 0px 3px 30px
          rgba(var(--dominant-backdrop-color, (0, 84, 112)), 0.4);

        .right {
          .release-date-wrapper {
            display: none;
          }

          .vote-average {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .movie-card-item.horizontal {
    .info {
      font-size: 1.5rem;

      .title-wrapper {
        .title {
        }
      }

      .right {
        .release-date-wrapper {
          .release-date {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .movie-group.horizontal {
    --card-movie-gap: 7px;

    .movie-card-item.horizontal {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4);
    }
  }

  .body-content.expand {
    .movie-group.horizontal {
      .movie-card-item.horizontal {
        width: calc((100% - (4 * var(--card-movie-gap))) / 5);
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .body-content.expand {
    .movie-group.horizontal {
      .movie-card-item.horizontal {
        width: calc((100% - (3 * var(--card-movie-gap))) / 4);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .body-content.expand {
    .movie-group.horizontal {
      .movie-card-item.horizontal {
        width: calc((100% - (2 * var(--card-movie-gap))) / 3);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .movie-group.horizontal {
    --card-movie-gap: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .movie-group.horizontal {
    .movie-card-item.horizontal {
      width: calc((100% - (1 * var(--card-movie-gap))) / 2);
    }
  }

  .body-content.expand {
    .movie-group.horizontal {
      .movie-card-item.horizontal {
        width: calc((100% - (1 * var(--card-movie-gap))) / 2);
      }
    }
  }
}
