.preview-overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;

  .preview-modal {
    display: inline-block;
    position: absolute;
    left: var(--left);
    top: var(--top);
    opacity: 1;
    // min-width: 350px;
    // width: 22vw;
    // max-height: 100vh;

    // width: 17vw;
    // min-width: 260px;

    width: var(--width);
    min-width: 255px;
    max-width: 290px;
    max-height: 100vh;
    background-color: var(--preview-modal-background-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow-medium);
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
    animation: preview-modal-appear 0.3s;
    will-change: transform;

    &.disappear {
      // animation: preview-modal-disappear 0.25s;

      .bottom-content {
        transition: all 0.25s;
        opacity: 0;
      }
    }

    &.only-left {
      left: var(--left-only);
      animation: preview-modal-appear-only-left 0.25s;
    }

    &.only-right {
      right: var(--right-only);
      animation: preview-modal-appear-only-right 0.25s;
    }

    @keyframes preview-modal-appear {
      from {
        // width: var(--width);
        // min-width: var(--width);
        // max-height: var(--height);

        // width: var(--width);
        // min-width: var(--width);
        transform: translateX(-50%) translateY(calc(var(--height) / (-2)))
          scale(1);
      }

      to {
        // min-width: 350px;
        // width: 22vw;
        // max-height: 100vh;

        // width: 17vw;
        // min-width: 260px;
        transform: translateX(-50%) translateY(-50%) scale(1.3);
      }
    }

    @keyframes preview-modal-appear-only-left {
      from {
        // width: var(--width);
        // min-width: var(--width);
        left: var(--left);
        transform: translateX(0%) translateY(calc(var(--height) / (-2)))
          scale(1);
      }

      to {
        // width: 17vw;
        // min-width: 260px;
        left: var(--left-only);
        transform: translateX(0%) translateY(-50%) scale(1.3);
      }
    }

    @keyframes preview-modal-appear-only-right {
      from {
        // width: var(--width);
        // min-width: var(--width);
        right: var(--right);
        transform: translateX(0%) translateY(calc(var(--height) / (-2)))
          scale(1);
      }

      to {
        // width: 17vw;
        // min-width: 260px;
        right: var(--right-only);
        transform: translateX(0%) translateY(-50%) scale(1.3);
      }
    }

    @keyframes preview-modal-disappear {
      from {
        min-width: 350px;
        width: 22vw;
      }

      to {
        max-height: var(--height);
        width: var(--width);
        min-width: var(--width);
      }
    }

    .el-skeleton.is-animated {
      position: relative;
      overflow: hidden;

      .el-skeleton__item.skeleton-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .bottom-content {
        // padding: 12px 15px;
        padding: 10px 12px;

        .widget {
          .el-skeleton__item.el-skeleton__text.circle {
            // height: 43px;
            // width: 43px;
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          // gap: 13px;
          gap: 9px;
          // margin-top: 5px;
          margin-top: 2px;

          .el-skeleton__item.el-skeleton__text {
            height: 10px;
          }
        }
      }
    }

    &.show-video {
      .backdrop-box {
        .percent-viewed,
        .viewed-overlay-bar {
          display: none;
        }

        .video-preview {
          .video-tool {
            .volume {
              display: flex;
            }
          }
        }
      }
    }

    .backdrop-box {
      display: flex;
      position: relative;
      height: 0px;
      padding-bottom: 56.25%;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: var(--background-content-color);
      }

      .video-preview {
        position: absolute;
        height: 100%;
        width: 100%;

        video {
          height: 100%;
          width: 100%;
        }

        .float-center {
          display: flex;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;

          .loading-video {
          }
        }

        .video-tool {
          display: flex;
          flex-direction: row;
          position: absolute;
          top: 3px;
          right: 3px;
          padding: 1px 5px;
          gap: 5px;
          background-color: #08080869;
          border-radius: 2px;

          svg {
            cursor: pointer;
            width: 1.8rem;
            height: 1.8rem;
          }

          .volume {
            display: none;
            flex-direction: column;
          }
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 1;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        z-index: 0;
        background-color: #3c3c3c59;
      }

      // &::before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   z-index: 1;
      //   height: 30%;
      //   width: 100%;
      //   background-image: linear-gradient(
      //     0deg,
      //     var(--background-content-color) 0%,
      //     rgba(7, 7, 7, 0) 100%
      //   );
      // }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   z-index: 1;
      //   height: 20%;
      //   width: 100%;
      //   background-image: linear-gradient(
      //     0deg,
      //     var(--background-content-color) 0%,
      //     rgba(7, 7, 7, 0) 82%
      //   );
      // }
    }

    .bottom-content {
      display: flex;
      flex-direction: column;
      gap: 7px;
      // padding: 12px 15px;
      padding: 10px 12px;
      // background: linear-gradient(
      //   90deg,
      //   var(--dominant-backdrop-color) 0%,
      //   var(--preview-modal-background-color) 5%,
      //   var(--preview-modal-background-color) 95%,
      //   var(--dominant-backdrop-color) 100%
      // );
      background-color: rgb(var(--dominant-backdrop-color), 0.2);
      cursor: pointer;

      .widget {
        display: flex;
        justify-content: space-between;

        a {
          border-radius: 50%;
          overflow: hidden;
          color: inherit;
        }

        .left {
          display: flex;
          flex-direction: row;
          gap: 7px;
        }

        .right {
          display: flex;
        }

        .ant-btn {
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--btn-background-color-gray);
          // border-color: var(--border-regular-btn);
          border-color: rgb(var(--dominant-backdrop-color, (90, 90, 90)));
          min-width: auto;
          height: 33px;
          width: 33px;
          overflow: hidden;

          svg {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
          }

          &:hover {
            border-color: var(--border-regular-light);
            background-color: var(--btn-background-color-gray-hover);
          }

          &:focus {
            border-color: var(--border-regular-light);
          }
        }
      }

      .info {
        padding: 0px;
        font-size: 1.2rem;
        line-height: 1.5;
        color: inherit;

        .title {
          color: inherit;
        }

        .title,
        .country {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .genres {
          font-size: 1.3rem;
          max-width: 100%;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
          line-height: 1.2;

          .genre-item {
            margin-right: 0.4vw;

            &:not(:first-child) {
              &::before {
                content: '\2022';
                // color: #d0d0d0;
                color: inherit;
                display: inline-block;
                padding-right: 0.4vw;
                font-size: 1.5rem;
              }
            }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          margin-top: 5px;

          .evidence-tags {
            font-size: 1.2rem;
            color: #d0d0d0;
            display: flex;
            flex-direction: row;
            align-items: center;

            .evidence-item {
              padding-right: 0.5vw;

              &:not(:first-child) {
                &::before {
                  color: #d0d0d0;
                  content: '\2022';
                  display: inline-block;
                  padding-right: 0.5vw;
                }
              }
            }
          }

          .views-rate {
            font-size: 1.2rem;
            color: #d0d0d0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .preview-overlay {
    .preview-modal {
      .bottom-content {
        .info {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .preview-overlay {
    .preview-modal {
      .el-skeleton.is-animated {
        .bottom-content {
          .el-skeleton__item.el-skeleton__text {
            &.circle {
              // height: 40px;
              // width: 40px;
              height: 30px;
              width: 30px;
            }
          }
        }
      }

      .bottom-content {
        .widget {
          .ant-btn {
            // height: 40px;
            // width: 40px;
            height: 30px;
            width: 30px;

            svg {
              // font-size: 2.4rem;
              // width: 2.4rem;
              // height: 2.4rem;
              font-size: 1.8rem;
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }
  }
}
