.box-vip {
  --padding-box-vip: 20px 20px;
  --box-vip-background-color: #060606e4;

  &.faded {
    .box-vip-container {
      background-color: #06060686;
    }

    .vip-active-btn {
      opacity: 1;
    }
  }

  .box-vip-container {
    position: relative;
    background-color: var(--box-vip-background-color);
    padding: var(--padding-box-vip);
    color: var(--text-color-gray);
    border-radius: 2px;
    width: 300px;
    transition: background-color 0.15s;

    .ant-ribbon-wrapper {
      position: absolute;
      top: -16px;
      right: 0;
      transform: translateY(-100%);

      .ant-ribbon {
        height: 25px;
        line-height: 25px;
        background-image: linear-gradient(
          45deg,
          var(--app-background-color),
          #0a7db7,
          #00e699
        );
        font-size: 1.45rem;

        .ant-ribbon-text {
          font-weight: 600;
        }
      }
    }

    .user-info {
      text-align: center;

      .username {
        display: inline-block;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 500;
        background-image: linear-gradient(
          to right,
          var(--app-background-color7),
          var(--app-background-color3)
        );
        font-size: 1.6rem;
      }

      .your-vip {
        display: flex;
        justify-content: center;
        gap: 7px;
        flex-wrap: nowrap;
        font-size: 1.4rem;
        margin-top: 5px;

        .description {
          .vip-number {
          }
        }
      }
    }

    .box-vip-title {
      font-size: 1.4rem;
      text-align: center;
      margin: 10px 0px;

      fieldset {
        display: block;
        border-top: 1px solid var(--border-regular);
      }
    }

    .vip-pri-title {
      padding: 10px 15px;

      legend {
        width: 120px;
      }
    }

    .vip-privileges {
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap);
      list-style: none;
      font-size: 1.4rem;

      --gap: 10px;

      li {
        display: inline-flex;
        flex-direction: row;
        width: calc(50% - (var(--gap) / 2));
        float: left;

        svg {
          margin-right: 10px;
          fill: var(--app-background-color);
        }

        &.ads {
        }

        &.support-devices {
          .list-devices {
            width: 90%;

            span {
              float: left;
              font-size: 1.2rem;

              &:not(:last-child) {
                margin-right: 2px;
              }
            }
          }
        }
      }
    }

    .recommend-upgrade-vip {
      padding: 10px 25px;

      fieldset {
        legend {
          width: 140px;
        }
      }
    }

    .vip-active-btn {
      position: absolute;
      padding: 8px 30px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      height: auto;
      background-image: linear-gradient(
        to right,
        var(--app-background-color),
        #006fa7,
        #04d6f2
      );
      background-size: 200% 100%;
      background-position: 100% center;
      font-size: 1.45rem;
      border-radius: 20px;
      border: none;
      color: #fff;
      opacity: 0.8;
      transition: all 0.3s;

      &:hover {
        background-position: 0% center;
        background-size: 200% 100%;
      }
    }
  }

  &:hover {
    .box-vip-container {
      background-color: var(--box-vip-background-color);
    }

    .vip-active-btn {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .box-vip {
    .box-vip-container {
      width: 270px;
    }
  }
}
