.ant-breadcrumb {
  padding: 15px 30px !important;
  /* background-color: var(--breadcrumb-background-color); */
  background-color: transparent;
  border-bottom: 1px solid var(--border-regular-light);
  z-index: 1;

  .ant-breadcrumb-link {
    a {
      color: #6c6c6c;
      text-transform: capitalize;
    }
  }

  & > span:last-child a {
    color: #ffffffea;
  }
}

@media only screen and (max-width: 900px) {
  .ant-breadcrumb {
    padding: 15px 15px;
  }
}
