.movie-info {
  position: relative;
  height: 100%;

  .info-conainer {
    position: relative;

    .back-page {
      .ant-btn {
        // background-color: var(--background-content-opacity);
        padding-left: 5px;

        &:hover {
          // box-shadow: var(--box-shadow-small);
        }
      }
    }

    .variant-backdrop {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      padding-bottom: 50%;
    }

    .main-info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      .backdrop-img {
        position: relative;
        width: 100%;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 50%;
          background-image: linear-gradient(
            0deg,
            var(--background-content-color) 0%,
            rgba(10, 10, 10, 0) 100%
          );
          // background-image: linear-gradient(0deg, red 0%, rgba(7, 7, 7, 0) 100%);
        }

        .overlay-backdrop {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 90%;
          height: 90%;
          z-index: 0;
          transform: translateX(-50%) translateY(-50%);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
            filter: blur(150px);
            // border-radius: 23%;
          }
        }

        .backdrop-wrapper {
          position: relative;
          z-index: 1;
          width: 100%;
          // overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              35deg,
              var(--background-content-color) 0%,
              rgba(10, 10, 10, 0) 70%
            );
            // background-image: linear-gradient(35deg, red 0%, rgba(7, 7, 7, 0) 70%);
            // box-shadow: inset 25vw -4vw 10px 10px var(--background-content-color);
            // border-radius: 50%;
          }

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              35deg,
              var(--background-content-color) 0%,
              rgba(10, 10, 10, 0) 70%
            );
          }
        }

        .poster {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 200px;
          box-shadow: var(--box-shadow-medium);

          .poster-wrapper {
            width: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              background-color: #080808;
            }
          }
        }
      }

      .movie-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        // top: 0;
        z-index: 1;
        max-width: 1900px;
        margin: 0px auto;
        padding: 20px 30px;
        padding-top: 0px;

        .variant-content {
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          padding-bottom: 30%;
        }

        .head-content {
          .movie-title {
            font-weight: 500;
            margin-bottom: 20px;
          }

          .action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 20px;

            a {
              color: inherit;
            }

            .action-btn {
              min-height: 40px;
              height: 42px;
            }

            .left {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 13px;
              // gap: 0.7vw;

              .ant-btn {
                svg {
                  margin-right: 7px;
                  font-size: 1.8rem;
                  width: 1.8rem;
                  height: 1.8rem;
                  fill: inherit;
                }

                &.add,
                &.trailer {
                  border-color: var(--border-regular);
                  background-color: rgba(55, 55, 55, 0.3);

                  &:hover {
                    border-color: var(--btn-border-color-hover);
                    background-color: rgba(97, 97, 97, 0.4);
                  }
                }

                svg.play {
                  margin-left: -5px;
                  font-size: 3rem;
                  width: 3rem;
                  height: 3rem;
                }

                svg.trailer {
                  margin-right: 8px;
                }

                &.add {
                  svg {
                    margin-left: -5px;
                    font-size: 2.5rem;
                    width: 2.5rem;
                    height: 2.5rem;
                  }
                }

                &:hover {
                  border-color: var(--btn-border-color-hover);
                  background-color: rgba(97, 97, 97, 0);
                }
              }
            }

            .right {
              display: flex;
              align-items: center;

              .ant-btn {
                padding: 9px 13px;

                svg {
                  margin-right: 8px;
                  font-size: 2.1rem;
                  width: 2.1rem;
                  height: 2.1rem;
                }
              }

              .ellipsis {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                padding: 0px 10px;
                font-size: 2rem;
                cursor: pointer;
                transition: all 0.15s;

                &:active {
                  opacity: 0.8;
                }
              }
            }
          }
        }

        .main-content {
          display: flex;
          justify-content: space-around;
          gap: 10vw;

          .detail-content-left {
            width: 65%;

            .tags-overview {
              margin-top: 22px;

              .text {
                // display: block;
                // text-align: justify;
              }
            }

            .rating-movie {
              // margin-top: 10px;
              margin-top: 5px;
            }

            .tags {
              margin-top: 10px;
            }
          }

          .detail-content-right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 35%;
            margin-top: 74px;

            .tags + .tags {
              // margin-top: 10px;
            }

            .tags {
              .tags-item {
                a {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

        .progress-history-tags {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 14px;

          .tags-label {
            margin-right: 0.7rem;
          }
        }
      }
    }

    .related-content {
      position: relative;
      z-index: 1;

      .trailer {
        .title-default {
          margin: 20px 0px;
        }

        iframe {
          height: 47vw;
          width: 100%;
        }
      }

      .comment {
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .movie-info {
    .info-conainer {
      .main-info {
        .movie-content {
          .head-content {
            .action {
              .action-btn {
                height: 40px;
              }

              .left {
                .ant-btn {
                  font-size: 1.5rem;

                  svg {
                    margin-right: 7px;
                    font-size: 1.9rem;
                  }

                  svg.play {
                    margin-left: -7px;
                    font-size: 2.8rem;
                  }

                  svg.trailer {
                    margin-right: 9px;
                  }

                  &.add {
                    svg {
                      margin-left: -7px;
                      font-size: 2.3rem;
                    }
                  }
                }
              }

              .right {
                .ant-btn {
                  font-size: 1.5rem;

                  svg {
                    font-size: 2.1rem;
                    margin-right: 8px;
                  }
                }
              }
            }
          }

          .main-content {
            gap: 5vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .movie-info {
    .info-conainer {
      .main-info {
        .movie-content {
          .head-content {
            .action {
              .left {
                .ant-btn {
                  padding: 7px 20px;
                }
              }

              .right {
                .ant-btn {
                  padding: 7px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .movie-info {
    .info-conainer {
      .variant-backdrop {
        display: none;
      }

      .main-info {
        position: relative;

        .backdrop-img {
          .poster {
            width: 150px;
          }
        }

        .movie-content {
          position: relative;
          z-index: 1;
          margin-top: -20%;

          .head-content {
            .action {
              gap: 10px;
              justify-content: unset;
              align-items: unset;
              flex-wrap: wrap;
            }
          }

          .main-content {
            justify-content: space-between;
            gap: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .movie-info {
    .info-conainer {
      .main-info {
        .movie-content {
          padding: 20px 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .movie-info {
    .info-conainer {
      .main-info {
        .movie-content {
          .movie-title {
            font-size: 2.6rem;
          }

          .main-content {
            flex-direction: column;
            justify-content: unset;
            gap: 15px;

            .detail-content-left {
              width: 100%;
            }

            .detail-content-right {
              margin-top: 0px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-info {
    .info-conainer {
      .main-info {
        .backdrop-img {
          .poster {
            display: none;
          }
        }
      }
    }
  }
}
