.plan-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  --plan-box-selector-size: 160px;

  .plan-sider {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: var(--plan-box-selector-size);
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 6px;

    .el-skeleton.is-animated {
      display: flex;
      gap: 10px;
      flex-direction: column;
      width: var(--plan-box-selector-size);
      flex-shrink: 0;
      align-self: flex-end;

      .plan-box-selector {
        .el-skeleton__item {
          width: 35%;
        }
      }
    }

    .plan-box-selector {
      position: relative;
      background-color: var(--app-background-color);
      height: var(--plan-box-selector-size);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      opacity: 0.7;
      transition: all 0.15s;
      cursor: default;
      font-weight: 500;
      z-index: 1;
      color: var(--text-color);

      .vip-number {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 10px;
        background-color: var(--app-background-color1);
        font-size: 1.4rem;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .ant-ribbon-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        .ant-ribbon {
          // background-color: var(--app-background-color1);
          // color: var(--app-background-color1);
          background-color: var(--app-background-color3);

          &.vip-1 {
            background-color: var(--app-background-color3);
          }

          &.vip-2 {
            background-color: #e2c90d;
          }

          &.vip-3 {
            background-color: #e26c0d;
          }

          .ant-ribbon-text {
            font-weight: 600;
            font-size: 1.4rem;
            font-style: italic;
            color: #fff;
          }
        }
      }

      &.selected {
        background-color: var(--app-background-color);
        opacity: 1;
        transform: translateX(5%);
        box-shadow: var(--box-shadow-medium1);

        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%) rotate(-90deg);
          right: -18px;
          border: 0 solid transparent;
          border-width: 15px 15px 0;
          border-top-color: #3c97cb;
        }
      }
    }
  }

  .plan-body {
    position: relative;
    z-index: 1;

    .plan-table {
      border-collapse: separate;
      border-spacing: 0 10px;
      min-width: 600px;
      max-width: 830px;
      width: 100%;
      flex-shrink: 0;
      overflow-x: scroll;

      .plan-header {
        box-shadow: var(--box-shadow-small);

        .plan-feature + .plan-feature {
          border-left: 1px solid var(--border-regular-light);
        }

        .plan-feature {
          padding: 12px 30px;
          font-weight: 500;
        }
      }

      .el-skeleton.is-animated {
        display: table-row-group;
        vertical-align: middle;

        .tr-skeleton {
          position: relative;
          display: table-row;
          vertical-align: inherit;
          height: var(--plan-box-selector-size);
          transition: transform 0.15s;
        }

        .plan-option {
          display: table-cell;
          vertical-align: inherit;
          text-align: center;
          height: 100%;

          .el-skeleton__item {
            width: 45%;
          }
        }
      }

      .plan-grid-feature-table-body {
        .plan-grid-feature-row {
          position: relative;
          height: var(--plan-box-selector-size);
          transition: transform 0.15s;

          .background-plan {
            position: absolute;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
          }

          &::after {
            background-image: var(--background-image);
          }

          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: calc(var(--plan-box-selector-size));
            width: 100%;
            z-index: -2;
            background-size: cover;
            opacity: 0.2;
          }

          td {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 100%;
              background-color: #ededed;
              z-index: -1;
              transition: all 0.3s;
            }
          }

          &.selected {
            color: var(--app-background-color);
            transform: translateX(2%);
            box-shadow: var(--box-shadow-medium1);

            &::after {
              opacity: 0.7;
            }

            .plan-option.support-devices svg {
              fill: var(--app-background-color);
            }

            td {
              &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.5)
                );
                z-index: -1;
              }

              &::after {
                width: 0%;
              }
            }
          }

          /* &:nth-child(even):not(:last-child) {
            // border-top: 1px solid var(--border-regular-light);
            // border-bottom: 1px solid var(--border-regular-light);

            &::after {
              // border-top: 1px solid #929292;
              // border-bottom: 1px solid #929292;
            }
          } */

          td {
            text-align: center;

            & > div + div {
              margin-left: 10px;
            }

            & > div {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              padding: 5px;

              span {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

html.dark {
  .plan-grid .plan-body .plan-table {
    .plan-grid-feature-table-body tr td {
      &::after {
        background-color: #252525;
      }
    }
  }
}

@keyframes linear-fade {
  from {
    opacity: 0;
    width: 100%;
  }

  to {
    width: 0%;
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .plan-grid .plan-body .plan-table {
    .plan-grid-feature-table-body tr td {
      &::after {
        background-color: #252525;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .plan-grid {
    --plan-box-selector-size: 150px;
  }
}

@media only screen and (max-width: 900px) {
  .plan-grid {
    --plan-box-selector-size: 140px;
  }
}

@media only screen and (max-width: 700px) {
  .plan-grid {
    --plan-box-selector-size: 130px;
    gap: 10px;

    .plan-sider {
      .plan-box-selector {
        &.selected {
          &::after {
            border-width: 10px 10px 0;
            right: -13px;
          }
        }
      }
    }

    /* .plan-body {
      .plan-table {
        .plan-header {
        }
      }
    } */
  }
}
