.topic-column {
  position: relative;
  width: 340px;
  height: 100%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding: 22px 24px;
  overflow: hidden;
  /* background-image: linear-gradient(
    to bottom,
    rgb(53, 74, 136) 0%,
    rgba(53, 74, 136, 0.75),
    rgba(53, 74, 136, 0.5),
    rgba(15, 15, 15, 0.25),
    rgba(0, 0, 0, 0)
  ); */
  background-image: linear-gradient(
    to bottom,
    rgb(16, 68, 128) 0%,
    rgba(16, 68, 128, 0.5) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(16, 68, 128) 0%,
    rgba(16, 68, 128, 0.5) 33%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background-image: var(--main-color); */
  z-index: 2;
  transition: all background 0.5s;

  .column-container {
    .backdrop {
      display: flex;
      width: 100%;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:hover {
        .play-now {
          opacity: 1;
          background-color: #000000b1;
        }
      }

      .img-box {
        width: 100%;
      }

      .play-now {
        /* left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        opacity: 0;
        color: var(--text-color);
        gap: 10px;
        font-size: 1.4rem;

        svg {
          margin-right: -7px;
          width: 3rem;
          height: 3rem;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .overlay-image {
      position: absolute;
      height: 350px;
      left: 50%;
      transform: translateX(-50%);
      top: 10%;
      z-index: -1;
      opacity: 0.15;
      filter: blur(20px);
      object-fit: cover;
    }

    .info {
      margin-top: 17px;
      gap: 13px;
      color: inherit;

      .title {
        margin-bottom: 12px;
        color: inherit;
      }

      .user-info {
        position: relative;

        p {
          font-size: 1.5rem;
        }

        .el-dropdown.dropdown-viewmore {
          position: absolute;
          top: 0;
          right: 0;
        }

        .viewmore-btn {
          transition: all 0s;
          right: -50%;

          /* svg {
          } */
        }
      }

      .count-video {
        margin-top: 5px;
        color: var(--text-color-gray);
        font-size: 1.4rem;

        span {
          margin-left: 7px;
        }
      }
    }

    .widget {
      margin-top: 17px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      .search-row.ant-input-affix-wrapper {
        background: transparent;
        border: none;
        border-bottom: 2px solid #104480;
        padding-left: 2px;

        .ant-input-prefix {
          color: inherit;

          /* svg {
          } */
        }

        .ant-input {
          padding-left: 5px;
          background: transparent;
          font-size: 1.5rem;
          color: inherit;
        }
      }

      .remove-all-btn {
        margin: 0px auto;
        min-width: 200px;
        height: 36px;
        padding: 6px 30px;
        background-color: #000000;

        &:hover {
          color: var(--text-danger-color);
          background-color: #141414;
        }

        .el-icon {
          font-size: 2rem;
          margin-right: 2px;
        }
      }
    }
  }
}
