.payment {
  font-size: 1.6rem;
  height: 100%;

  .center-page {
    // max-width: var(--max-width-center-page);
    max-width: 1024px;
    margin: 0px auto;
  }

  .payment-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding-top: 20px;

    .step {
      color: var(--text-color-gray1);
      font-size: 1.4rem;
      font-weight: 500;
    }

    .payment-header {
      text-align: center;

      h1 {
        margin-bottom: 15px;
      }

      & > h2 + p {
        margin: 0px auto;
        max-width: 400px;
        margin-top: 30px;
      }

      & > h2 + p + div {
        margin: 0px auto;
        margin-top: 15px;
      }

      .encouragement {
        margin-top: 20px;
        font-weight: 500;
      }
    }

    .payment-methods {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0px auto;
      margin-top: 30px;
      max-width: 500px;
      width: 100%;

      .payment-method {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        padding-right: 10px;
        border: 1px solid var(--border-regular-invert);
        border-radius: 2px;
        cursor: pointer;
        user-select: none;
        transition: all 0.15s;

        .left {
          display: flex;
          align-items: center;

          img + img {
            margin-left: 7px;
          }

          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
          }

          span {
            margin-left: 18px;
          }
        }

        .right {
          display: flex;
          align-items: center;
        }

        &:hover {
          background-color: #e2e2e2;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .payment {
    font-size: 1.55rem;
  }
}
