.overview-content {
  display: inline;

  .text {
    max-height: 93px;
    overflow: hidden;
    line-height: 1.8;
  }

  .view-more {
    display: block;
    position: relative;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    margin-top: 5px;

    &.active {
      display: inline;

      &::before {
        content: '';
        position: absolute;
        left: -50%;
        bottom: 0;
        background-image: linear-gradient(to left, #070707, #07070700);
        height: 100%;
        width: 50%;
      }
    }

    & > span {
      font-weight: bold;
      color: #fff;
      transition: all 0.15s;
    }

    &:active {
      & > span {
        opacity: 0.8;
      }
    }
  }
}
