@import '@/assets/style/globalStyle/MovieCardItem.scss';

.movie-group.vertical {
  .movie-card-item.vertical {
    width: calc((100% - (7 * var(--card-movie-gap))) / 8);
  }
}

.movie-group.vertical.ranking {
  .movie-card-item.vertical {
    width: calc((100% - (7 * var(--card-movie-gap))) / 7);

    .img-box {
      height: 13vw;
    }
  }
}

.body-content.expand {
  .home-page {
    .movie-card-item.vertical {
      .img-box {
        height: 16vw;
      }
    }
  }
}

.movie-card-item {
  &.vertical {
    .el-skeleton.is-animated {
      position: relative;
      overflow: hidden;
      width: 100%;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 150%;

      .el-skeleton__item.skeleton-img {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .content-skeleton {
        margin-top: 13px;

        .el-skeleton__item.el-skeleton__text {
          // height: 18px;
        }
      }
    }

    .img-box {
      position: relative;
      display: flex;
      overflow: hidden;
      // border-top-right-radius: 5px;
      // border-top-left-radius: 5px;
      border-radius: 5px;
      transition: all 0.3s;
      height: 0px !important;
      padding-bottom: 150%;

      .ing {
        position: absolute;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s;
        background-color: var(--background-content-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100%;
        max-height: 100%;

        &[lazy='error'] {
          background-size: 40%;
        }
      }

      .percent-viewed {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: var(--percent-viewed);
        background-color: var(--app-background-color3);
        z-index: 2;
      }

      .viewed-overlay-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: 100%;
        z-index: 1;
        background-color: #3c3c3c59;
      }
    }

    .info {
    }
  }
}

@media only screen and (max-width: 2000px) {
  .body-content.expand {
    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (6 * var(--card-movie-gap))) / 7);
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (5 * var(--card-movie-gap))) / 6);
    }
  }
}

@media only screen and (max-width: 1700px) {
  .body-content.expand {
    .movie-card-item.vertical {
    }

    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (5 * var(--card-movie-gap))) / 6);
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
    }
  }
}

@media only screen and (max-width: 1550px) {
  .body-content.expand {
    .movie-card-item.vertical {
    }
  }

  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (5 * var(--card-movie-gap))) / 6);
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4);
    }
  }

  .movie-card-item.vertical {
  }
}

@media only screen and (max-width: 1400px) {
  .body-content.expand {
    .movie-card-item.vertical {
    }

    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (4 * var(--card-movie-gap))) / 5);
      }
    }
  }

  .movie-card-item.vertical {
  }
}

@media only screen and (max-width: 1300px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5);
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .body-content.expand {
    .movie-group.vertical.ranking {
      .movie-card-item.vertical {
        width: calc((100% - (3 * var(--card-movie-gap))) / 4);
      }
    }
  }

  .movie-group.vertical.ranking {
    .movie-card-item.vertical {
    }
  }
}

@media only screen and (max-width: 1100px) {
  .body-content.expand {
    .movie-card-item.vertical {
    }

    .movie-group.vertical {
      .movie-card-item.vertical {
        width: calc((100% - (4 * var(--card-movie-gap))) / 5) !important;
      }
    }
  }

  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4) !important;
    }
  }

  .movie-card-item.vertical {
  }
}

@media only screen and (max-width: 900px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (4 * var(--card-movie-gap))) / 5) !important;
    }
  }

  .movie-card-item.vertical {
  }
}

@media only screen and (max-width: 800px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (3 * var(--card-movie-gap))) / 4) !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (2 * var(--card-movie-gap))) / 3) !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .movie-group.vertical {
    .movie-card-item.vertical {
      width: calc((100% - (1 * var(--card-movie-gap))) / 2) !important;
    }
  }

  .movie-card-item.vertical {
  }
}
